
@{
    ViewData["Title"] = "GeneratePropertyTax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" method="get">
    <div id="dvTop" class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Payment</a></li>
                        <li class="breadcrumb-item active">Demand Payment</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <div class="card card-info">
        @if (TempData["msg"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-check"></i> Alert!</h5>
                <p>@TempData["msg"]</p>
            </div>
        }

        <div class="card-header">
            <h3 class="card-title">Search Tax Payer</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <hr />
            <div class="row">
                <div class="input-group d-flex justify-content-center col-5">
                    <label class="col-sm-4 col-form-label">CID No<span style="font-weight: bold; color: red;"></span></label>
                    <input id="Cid" class="form-control col-6" />
                </div>

                <div class="input-group d-flex justify-content-center col-5">
                    <label class="col-sm-4 col-form-label">TTIN<span style="font-weight: bold; color: red;"></span></label>
                    <input id="Ttin" class="form-control col-6" />
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="input-group d-flex justify-content-center col-5">
                    <label class="col-sm-4 col-form-label">Plot No<span style="font-weight: bold; color: red;"></span></label>
                    <input id="PlotNo" class="form-control col-6" />
                </div>

                <div class="input-group d-flex justify-content-center col-5">
                    <label class="col-sm-4 col-form-label">Thram No<span style="font-weight: bold; color: red;"></span></label>
                    <input id="ThramNo" class="form-control col-6" />
                </div>
                <div class="input-group-append col-2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Search" class="btn btn-primary" onclick="return SearchTaxPayer();" />
                    @*<input id="btnGenerate1" type="button" value="Generate" class="btn btn-primary" />*@

                </div>
            </div>
        </div>
    </div>
</form>

<div class="card card-info" id="dvTaxPayerInfo" style="display: none;">
    <div class="card-header">
        <h3 class="card-title">Tax Payer Information</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <table id="tblTaxPayer" class="table table-bordered table-striped">
                <thead style="background-color:mediumaquamarine">
                    <tr>
                        <th>#</th>
                        <th>TTIN </th>
                        <th>Tax Payer Type </th>
                        <th>CID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile No </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbl_body">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card card-info" id="dvLandOwnership" style="display:none;">
    @*style="display:none;"*@
    <div class="card-header">
        <h3 class="card-title">Ownership Details</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">

            <label class="col-sm-1 col-form-label">TTIN </label>
            <div class="col-sm-3">
                <input type="text" id="txtTTIN" class="form-control" readonly />
            </div>
            <label class="col-sm-1 col-form-label">CID </label>
            <div class="col-sm-3">
                <input type="text" id="txtCid" class="form-control" readonly />
            </div>
            <label class="col-sm-1 col-form-label">Name </label>
            <div class="col-sm-3">
                <input type="text" id="txtName" class="form-control" readonly />
            </div>
            @*<label class="col-sm-1 col-form-label">Mobile No </label>
                <div class="col-sm-3">
                    <label id="mobileNo" class="col-form-label"></label>
                </div>*@
        </div>
        <table id="tblLandOwnership" class="table table-bordered table-striped">
            <thead style="background-color:mediumaquamarine">
                <tr>
                    <th>#</th>
                    <th>Thram No </th>
                    <th>Ownership Type</th>
                    @*<th>Ownership Percentage</th>*@
                    <th>Plot No </th>
                    <th>Land Type</th>
                    <th>Property Type</th>
                    <th>Land Acerage </th>
                    <th>Net Area/PLR </th>
                    @*<th>Demkhong </th>*@
                    <th>Land Use Sub Category </th>
                    @*<th>OwnerShip Percentage   </th>*@

                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tbl_body2">
            </tbody>
        </table>
    </div>

</div>
<hr />

<div class="card card-info" id="dvyear" style="display:none;">
    <div class="card-header">
        <h3 class="card-title">Select </h3>

    </div>
    <input id="lblownerId" hidden />
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Thram No:</label>
            <div class="col-sm-2">

                <label class="col-sm-4 col-form-label" id="lblthram"></label>
            </div>
            <label class="col-sm-2 col-form-label">Plot No:</label>
            <div class="col-sm-6">

                <label class="col-sm-4 col-form-label" id="lblplot"></label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tax Year</label>
            <div class="col-sm-4">
                <select id="TaxYearId" class="form-control select2" style="width: 100%;"
                        value="0">
                </select>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-2">
                <input type="button" value="Calculate" class="btn btn-primary" onclick="return GetTaxDetail();" />

            </div>

        </div>
    </div>
</div>
<div class="card card-info" id="dvTaxDetail" style="display:none;">
    <div class="card-header">
        <h3 class="card-title">Tax Details</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <input type="hidden" id="hdnpenalties" value="" />
            <table id="example1" class="table table-bordered table-striped">
                @*<thead>
                        <tr>
                            <th>#</th>
                            <th>Bank Code</th>
                            <th>Bank Name</th>
                            <th>IsActive</th>
                            <th>Action</th>
                        </tr>
                    </thead>*@
                <tbody>
                    <tr hidden>
                        <td hidden>
                            <input type="hidden" id="hdnLandDetailId" value="" />
                            <input type="hidden" id="hdnTaxPayerId" value="" />
                            <input type="hidden" id="hdnLandOwnerShipId" value="" />
                            <input type="hidden" id="sta" value="" />
                            <input type="hidden" id="bci" value="" />
                            <input type="hidden" id="gtai" value="" />

                        </td>
                    </tr>
                    <tr>

                        <td>
                            Plot No: &nbsp;  <label id="lblPlotNo" class="col-form-label" readonly />

                        </td>
                        <td>
                            Thram No: &nbsp;     <label id="lblThramNo" class="col-form-label" readonly />

                        </td>
                        <td>
                            Land Acerage: &nbsp;    <label id="lblLandAcerage" class="col-form-label" readonly />
                        </td>
                        <td>
                            Precinct:       &nbsp; <label id="lblPrecinct" class="col-form-label" readonly />
                        </td>

                        <td style="text-align:center;">
                            Sub Precinct:       &nbsp;  <label id="lblSubPrecinct" class="col-form-label" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lap: &nbsp;  <label id="lblLap" class="col-form-label" readonly />

                        </td>
                        <td>
                            Demkhong: &nbsp;     <label id="lblDemkhong" class="col-form-label" readonly />

                        </td>
                        <td>
                            Street: &nbsp;    <label id="lblStreet" class="col-form-label" readonly />
                        </td>
                        <td>
                            Land Type:       &nbsp; <label id="lblLandType" class="col-form-label" readonly />
                        </td>

                        <td style="text-align:center;">
                            Location:       &nbsp;  <label id="lblLocation" class="col-form-label" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ownership Type: &nbsp;  <label id="lblLandOwnershipType" class="col-form-label" readonly />

                        </td>
                        <td>
                            Structure Available: &nbsp;  <label id="lblStructureAvailable" class="col-form-label" readonly />

                        </td>
                        <td>
                            Net Area / PLR: &nbsp;  <label id="lblplr" class="col-form-label" readonly />

                        </td>
                        <td>
                            Last Demand Generated Year: &nbsp;  <label id="lblLastpaymentyear" class="col-form-label" readonly />

                        </td>
                        <td>
                            RMS Year: &nbsp;  <label id="lblrmsyear" class="col-form-label" readonly />

                        </td>
                    </tr>
                    <tr>
                        <td>
                            IsApportioned:   &nbsp;   <label id="lblIsApportioned" class="col-form-label" readonly />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group row">

            @*<b> Land Tax Detail</b>*@

            <table id="example1" class="table table-bordered table-striped">
                <tbody>

                    <tr>
                        <td>
                            Land Tax Rate:   &nbsp;   <label id="lblLandTaxRate" class="col-form-label" readonly />
                        </td>
                        <td>
                            Land Tax Amount:   &nbsp;   <label id="lblLandTaxAmount" class="col-form-label" readonly />
                        </td>
                        <td>
                            Under Development Charge :&nbsp; <label id="lblUDFAmount" class="col-form-label" readonly />
                        </td>
                        <td>
                            <input id="hdnLTId" value="0" type="hidden" />
                            <input id="hdnLandTaxAmount" value="0" type="hidden" />
                            <input id="hdnUDT" value="0" type="hidden" />

                            <input id="hdnStructure" value="0" type="hidden" />
                            <input id="hdnUDTaxId" value="0" type="hidden" />
                            <input id="hdnUDFAmount" value="0" type="hidden" />
                        </td>
                    </tr>
            </table>
        </div>
        <div class="form-group row">
            <b> Building Unit Tax Details</b>
            <table id="tblHouseTax" class="table table-bordered table-striped">
                <thead>

                    <tr>
                        <th>#</th>
                        <th>Building No</th>
                        <th>Construction Type</th>
                        <th>Building Unit Class</th>
                        <th>Building Unit Use Type</th>
                        <th>Floor No</th>
                        @*  <th>No Of Rooms</th>*@
                        <th>Rate</th>
                        <th>No of Unit</th>
                        <th>Unit Tax</th>
                        <th>Garbage Rate</th>
                        <th>Garbage Tax</th>
                        <th>Street Light Rate</th>
                        <th>Street Light Tax</th>
                    </tr>
                </thead>
                <tbody id="tbl_bodyBTax">
                <tbody>

            </table>
            <table style="width: 100%;">

                <tr>
                    <td><b>Total Unit Tax:</b><label id="TotalUT" value="" class="col-form-label" readonly /> </td>
                    <td></td>
                    <td><b>Total Garbage Tax:</b><label id="TotalGT" value="" class="col-form-label" readonly /></td>
                    <td></td>
                    <td><b>Total Streetlight Tax:</b><label id="TotalSLT" value="" class="col-form-label" readonly /></td>
                    <td><b>Total penalties:</b><label id="hdnTotalPenalties" value="" class="col-form-label" readonly /></td>
                    <td><b>Grand Total:</b><label id="lblGTA" value="" class="col-form-label" readonly /></td>
                </tr>

            </table>

        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-2">
                <input id="btnGenerate" type="button" value="Generate" class="btn btn-primary" />

            </div>
            <div class="col-sm-2">
                <input id="btnCancel" type="button" value="Cancel" class="btn btn-warning" />

            </div>
        </div>
    </div>
</div>
<hr />

<div id="dvDemand" style="display: none;">
    <div class="card card-info" id="dvPrint">
        <div class="card-body">
            <div class="form-group row">
                <table style="width: 100%; font-size:13px; font-size: 12px;">
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <img src="~/dist/img/tt_logo.gif"
                                 style="width: 100px; height: 100px" />
                        </td>
                        <td colspan="8" style="color: black;" align="center">
                            <strong style="font-size:15px;">Thimphu Thromde</strong> <br /> <b style="font-size:13px;">Demand Notice</b>
                        </td>
                        <td colspan="2">
                            <img id="qrDemandNo" style="width: 102px; height: 100px" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="height: 15px">
                            &nbsp;
                        </td>
                        <td colspan="4" style="color: #CC0000" align="center">
                        </td>
                        <td colspan="2">
                        </td>
                        <td colspan="2">
                        </td>
                        <td style="height: 15px">
                            <span>
                                <b>Demand No:</b>&nbsp;<label id="lblRDemandNo" value="" />
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <b>Tax :</b><label id="lblRTransactionType" value="" />
                        </td>
                        <td colspan="2">
                            <b>Tax Year :</b> <label id="lblRTaxYear" value="" />
                        </td>
                        <td colspan="2">
                        </td>
                        <td colspan="2">
                        </td>
                        <td colspan="2">
                        </td>
                        <td colspan="2">
                            <b>Demand Date:</b>&nbsp;<label id="lblRDemandDate" value="" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <b>CID:</b>&nbsp; <label id="lblRCID" class="col-form-label" readonly />
                        </td>
                        <td colspan="2">
                            <b>TTIN:</b>&nbsp;<label id="lblRTTIN" class="col-form-label" readonly />
                        </td>
                        <td colspan="2">
                            <b>Plot No:</b>&nbsp; <label id="lblRPlotNo" class="col-form-label" readonly />
                        </td>
                        <td colspan="2">
                        </td>
                        <td colspan="2">
                        </td>
                        <td colspan="2">
                            <b>Thram No:</b>&nbsp;<label id="lblRThramNo" class="col-form-label" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <b>Name:</b>&nbsp;<label id="lblRFullName" class="col-form-label" readonly />
                        </td>

                        <td colspan="4">
                            <b>Address:</b>&nbsp;<label id="lblRContactAddress" class="col-form-label" readonly />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group row">
                <table id="example1" border="1" style=" border-collapse: collapse; font-size: 12px;" width="100%">
                    <thead style="background-color:mediumaquamarine;">
                        <tr style="font-size: 13px;">
                            <th>#</th>
                            <th>Tax Name</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="tblDemand" style="font-size: 12px;">
                    </tbody>
                    <tr style="font-size: 12px;"><td></td><td align="right"><b>Total Amount:</b></td><td><label id="lblTotalDemandAmount" value="" class="col-form-label" readonly /> </td></tr>
                </table>
                <br />
            </div>
            <div class="form-group row">
                <div style="float:right;">
                    <b style="font-size: 12px;"> Demand Generated By: </b><label id="lblRUserName" value="" class="col-form-label" readonly />
                    @*<p>(Total tax payable may differ if generated for past years.)</p>*@
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary" onclick="return ok();">Ok</button>  &nbsp;  &nbsp;
            <button class="btn btn-warning" onclick="return printPage();"><i class="fas fa-print"></i>Print</button>
        </div>
    </div>
    <br />
    <input type="hidden" id="hdnBuildingCount" value="0" />
    <input type="hidden" id="hdnmonth" value="0" />
    <input type="hidden" id="hdnyear" value="0" />

</div>
<script src="~/plugins/jquery/jquery.min.js"></script>

<script>
    //Display Tax Prayer Profile
        function SearchTaxPayer() {
            //if ($('#CIDinput').val() == "" && $('#CIDinput').val() == "") {
            //    swal("Please enter CID or TTIN");
            //    $('#CIDinput').focus();
            //    return false;
            //}
            //$('#Cid').insertAfter(function () {
            $('#dvDemand').hide(1000);
            $('#dvTaxDetail').hide(1000);
            $('#dvLandOwnership').hide(1000);
            if ($("#Ttin").val() == "" && $("#Cid").val() == "" && $("#PlotNo").val() == "" && $("#ThramNo").val() == "")
                {
                    swal("Please fill atleaset one field to search.!");
                    $("#Cid").focus();
                    return false;
                }
            var Cid = ($('#Cid').val());
            var Ttin = ($('#Ttin').val());
            var PlotNo = ($('#PlotNo').val());
            var ThramNo = ($('#ThramNo').val());
                if (Cid == Cid || Ttin == Ttin || PlotNo == PlotNo || ThramNo == ThramNo) {

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("FetchTaxPayerByCID", "PropertyTaxs")',
                    data: {
                        Cid: Cid,
                        Ttin: Ttin,
                        PlotNo: PlotNo,
                        ThramNo: ThramNo
                    },
                    success: function (data) {
                        $('#tbl_body').empty();

                        if (data.length > 0) {

                            $.each(data, function (key, value) {
                                $('#tbl_body').append(
                                    '<tr>'
                                    + '<td>' + (key + 1) + '</td>'
                                    + '<td>' + value.ttin + '</td>'
                                    + '<td>' + value.taxPayerType + '</td>'
                                    + '<td>' + value.cid + '</td>'
                                    + '<td>' + value.fullName + '</td>'
                                    + '<td>' + value.email + '</td>'
                                    + '<td>' + value.mobileNo + '</td>'
                                    + '<td><b><a style="cursor: pointer; color: forestgreen;" title="View details" onclick="return GetLandOwnershipDetail(' + value.taxPayerId + ');">Select</a></b></td>'
                                    + '</tr>');
                            });
                            $('#dvTaxPayerInfo').show(1000);
                            //$('#dvLandOwnership').show(1000);
                            $('html,body').animate({
                                scrollTop: $("#dvTaxPayerInfo").offset().top
                            }, 'slow');
                        }
                        else {
                            swal("No data found!!!");
                            $('#dvTaxPayerInfo').hide(1000);
                            //$('#dvLandOwnership').hide(1000);
                        }
                    },
                    error: function () {
                        alert('error');
                    }

                });
            }
            else {
               //('#dvTaxpayerInfo').show(1000);
                    $('#tbl_body').append(
                    '<tr><td colspan="4" style="color: red;">No record found!</td></tr>');

            }
        //});
    }
        function GetTaxPayerDetail() {
          if ($("#ttin").val() == "" &&$("#Cid").val() == "" && $("#PlotNo").val() == "" && $("#ThramNo").val() == ""  ) {
            swal("Please fill atleaset one field to search.!");
           $("#Cid").focus();
            return false;
             }
            $('#img').show();

            $('#dvDemand').hide(1000);
            $('#dvTaxDetail').hide(1000);
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetLandOwnershipDetail", "PropertyTaxs")',
                    data: {
                        Cid: ($("#Cid").val()),
                        PlotNo: ($("#PlotNo").val()),
                        ThramNo: ($("#ThramNo").val())
                    },
                    success: function (data) {
                    console.log(data);
                        $('#tbl_body').empty();
                        //Changed from == 0 to >0

                        if (data.length > 0) {

                            $("#dvLandOwnership").show(1000);
                            $('html,body').animate({
                                scrollTop: $("#dvLandOwnership").offset().top
                            }, 'slow');
                            $.each(data, function (key, value) {
                                $('#tbl_body').append(
                                    '<tr>' + '<td>' + (key + 1) + '</td>'
                                    + '<td>' + value.thramNo + '</td>'
                                    + '<td>' + value.landOwnershipType+ '</td>'
                                    + '<td>' + value.ownershipPercentage + '</td>'
                                    + '<td>' + value.taxPayer + '</td>'
                                    + '<td>' + value.taxPayerType + '</td>'
                                    + '<td>' + value.plotNo + '</td>'
                                    + '<td>' + value.landTypeName + '</td>'
                                    + '<td>' + value.landAcerage + '</td>'
                                    //+ '<td>' + value.lapName + '</td>'
                                    //+ '<td>' + value.demkhongName + '</td>'
                                    //+ '<td>' + value.streetName + '</td>'
                                    + '<td>' + value.landUseSubCategory + '</td>'
                                    + '<td><b><a style="cursor: pointer; color: forestgreen;" title="Select To Generate" onclick="return displayLandDetail(' + value.taxPayerId + ');">Select</a></b></td>'

                                    + '</td>'
                                    + '</tr>');
                            });
                            $('#img').hide();
                            $('html,body').animate({
                                scrollTop: $("#dvLandOwnership").offset().top
                            }, 'slow');

                        }
                        else {
                            $('#img').hide();
                            $("#dvLandOwnership").show(1000);
                            $('#tbl_body').append(
                                '<tr><td colspan="7" style="color: red;">No record found!</td></tr>');
                        }

                    },
                        error: function () {
                        $('#img').hide();
                        alert('Error occured');
                        }
                    });
    }
    function GetLandOwnershipDetail(TaxPayerId) {

        $('#img').show();
            $('#dvDemand').hide(1000);
        $('#dvTaxDetail').hide(1000);
        GetCalendarYear();//populate gax
                $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetLandOwnershipDetail", "PropertyTaxs")',
                    data: {
                        TaxPayerId: parseInt(TaxPayerId),
                        },
                        success: function (data) {
                        console.log(data);
                            $('#tbl_body2').empty();
                            //Changed from == 0 to >0
                            if (data.length > 0) {

                                //alert(data[0].ttin);
                                $("#txtTTIN").val(data[0].ttin);

                                $("#txtCid").val(data[0].cid);
                                $("#txtName").val(data[0].fullName);
                                //$("#txtTTIN").val(data[0].ttin);

                                $.each(data, function (key, value) {
                                   //var ownershipPercentage = value.ownershipPercentage;

                                    res = (value.plr > 0) ? '<b><a id="hideTD" style="cursor: pointer; color: forestgreen;" title="Select To Generate" onclick="return Getyear(' + value.landOwnershipId + ',\'' + value.thramNo + '\',\'' + value.plotNo + '\');">Select</a></b>' : '';
                                    $('#tbl_body2').append(
                                        '<tr>' + '<td>' + (key + 1) + '</td>'
                                        + '<td>' + value.thramNo + '</td>'
                                        + '<td>' + value.landOwnershipType+ '</td>'
                                        //+ '<td>' + value.ownershipPercentage + '</td>'
                                        //+ '<td>' + value.fullName + '</td>'
                                        //+ '<td>' + value.taxPayerType + '</td>'
                                        + '<td>' + value.plotNo + '</td>'
                                        + '<td>' + value.landTypeName + '</td>'
                                        + '<td>' + value.propertyType + '</td>'

                                        + '<td>' + value.landAcerage + '</td>'
                                        + '<td>' + value.plr + '</td>'
                                        //+ '<td>' + value.demkhongName + '</td>'
                                        //+ '<td>' + value.streetName + '</td>'
                                        + '<td>' + value.landUseSubCategory + '</td>'

                                       /* + '<td>' + value.ownershipPercentage + '</td>'*/
                                        //+ '<td><input id="thramNo_' + key + '"class="form-control thramNo" type="hidden" value="' + value.thramNo + '" />'
                                       // + '<td><b><a style="cursor: pointer; color: forestgreen;" title="Select To Generate" onclick="return GetLandTaxDetail(' + value.landDetailId + "," + value.thramNo +');">Calculate</a></b></td>'
                                        + '<td>'+ res+ '</td>'
                                       // + '<td style="display:none;" id="emptyTD"></td>'

                                        + '</td>'
                                        + '</tr>');
                                    //if (ownershipPercentage != 0) {
                                    //    //$('#emptyTD').show();
                                    //    $('#hideTD').show();
                                    //}
                                    //else {

                                    //    $('#hideTD').hide();
                                    //}
                                });
                                $('#img').hide();
                                $("#dvLandOwnership").show(1000);
                                $('html,body').animate({
                                    scrollTop: $("#dvLandOwnership").offset().top
                                }, 'slow');
                            }
                            else {
                                $('#img').hide();
                                $("#dvLandOwnership").show(1000);
                                $('#tbl_body2').append(
                                    '<tr><td colspan="7" style="color: red;">No record found!</td></tr>');
                            }

                        },
                            error: function () {
                            $('#img').hide();
                            alert('Error occured');
                            }
                 });
    }

        function Getyear(LandOwnershipId, thramNo, plotNo) {

            $('#dvyear').show();
            $('#dvTaxDetail').hide();
            $('#TaxYearId').val('');

            $('#lblthram').html(thramNo);
            $('#lblplot').html(plotNo);

            $('#lblownerId').val(LandOwnershipId);

            $.ajax({
                type: "GET",
                url: '@Url.Action("CheckStructureAvailable", "PropertyTaxs")',
                data: {
                    LandOwnershipId: LandOwnershipId,
                },
            success: function (data) {
                console.log(data);

                if (data.length > 0) {

                    var Builded = new Date(data[0].createdOn);
                    var mnth = (Builded.getMonth() + 1);
                    var yr = Builded.getFullYear();

                    $('#hdnmonth').val(mnth);
                    $('#hdnyear').val(yr);


                }
                else {

                    $('#hdnyear').val(0);
                    $("#lblStructureAvailable").html("No");

                }
             },
            error: function () {
                    $('#img').hide();
                    alert('Error occured');
                 }
             });

    }
        function GetTaxDetail() {


            if ($('#TaxYearId').val() == "0") {
                swal("Please select tax year.!");
                $('#TaxYearId').focus();
                return false;
            }


            // to check if structure is available

            var syear = parseInt($('#TaxYearId option:selected').text());

            if ($('#hdnyear').val() > 0) {

                if (parseInt(syear) > parseInt($('#hdnyear').val()) || (parseInt(syear) == parseInt($('#hdnyear').val()) && $('#hdnmonth').val() < 6)) {

                    $("#lblStructureAvailable").html("Yes");

                }
                else {
                    $("#lblStructureAvailable").html("No");
                    $("#hdnStructure").val("False");
                }

            }



            //-------------------END---------------------





            var LandOwnershipId = $('#lblownerId').val();


        $.ajax({
          type: "GET",
          url: '@Url.Action("GetOwnershipDetailByLandOwnershipId", "PropertyTaxs")',
           data: {
               Ids: LandOwnershipId,
              TaxYearId: $('#TaxYearId').val()

          },
           success: function (data) {
              console.log(data);
              $('#tbl_body7').empty();
              if (data.length > 0) {
                  $('#img').hide();
                  var total = 0;
                  var lt = 0;
                  var udt = 0;
                  var uhtt = 0;
                  var gt = 0;
                  var st = 0;
                  $.each(data, function (key, value) {
                      lt += parseFloat(value.landTaxPenalty);
                      udt += parseFloat(value.udTaxPenalty);
                      uhtt += parseFloat(value.uhtPenalty);
                      gt += parseFloat(value.garbagePenalty);
                      st += parseFloat(value.streetLightPenalty);
                 });

                  total = lt + udt + uhtt + gt + st;
                  $('#hdnTotalPenalties').html(total.toFixed(2));
                  $('#hdnpenalties').val(total.toFixed(2));
                          //$('#hdnTotalPenalties').html((LandTaxPenalty + UHTPenalty + StreetLightTaxPenalty + GarbageTaxPenalty + UDPenalty).toFixed(2));
                          //$('#hdnGrandTotal').html((LandTaxAmt + GarbageTaxAmt + StreetLightTaxAmt + UHTAmt + LandTaxPenalty + UHTPenalty + StreetLightTaxPenalty + GarbageTaxPenalty + UDAmt + UDAmt).toFixed(2));

              }
              else {
                  $('#img').hide();

              }

          },
          error: function () {
              $('#img').hide();
              alert('Error occured');
          }
      });



            $('#img').show();
            $('#dvDemand').hide(1000);
        $.ajax({
                type: "GET",
                url: '@Url.Action("GetLandTaxDetail", "PropertyTaxs")',
            data: {
                LandOwnershipId: LandOwnershipId,
            },
                success: function (data) {
                console.log(data);
                    //$('#tbl_body2').empty();
                    if (data.length > 0) {
                     /*   GetCalendarYear();//populate gax*/
                        $("#dvTaxDetail").show(1000);
                        $("#hdnLandDetailId").val(data[0].landDetailId);
                        $("#hdnLandOwnerShipId").val(data[0].landOwnershipId);
                        $("#hdnTaxPayerId").val(data[0].taxPayerId);


                        $("#lblPlotNo").html(data[0].plotNo);
                        $("#lblThramNo").html(data[0].thramNo);
                        $("#lblLandAcerage").html(data[0].landAcerage);
                        $("#lblSubPrecinct").html(data[0].landUseSubCategory);
                        $("#lblPrecinct").html(data[0].landUseCategory);
                        $("#lblLap").html(data[0].lapName);
                        $("#lblDemkhong").html(data[0].demkhongName);
                        $("#lblLandType").html(data[0].landTypeName);
                        $("#lblplr").html(data[0].plr);
                        $("#lblLandOwnershipType").html(data[0].landOwnershipType);
                        $("#lblLandTaxRate").html(data[0].landTaxRate);

                        //alert($("#lblrmsyear"));
                        //if (data[0].structureAvailable == true) {
                        //    $("#lblStructureAvailable").html("Yes");

                        //}
                        //else {
                        //    $("#lblStructureAvailable").html("No");
                        //}
                        if (data[0].isApportioned == true) {
                            $("#lblIsApportioned").html("Yes");

                        }
                        else {
                            $("#lblIsApportioned").html("No");
                        }


                        //$("#lblStructureAvailable").html(data[0].structureAvailable);
                        //alert(data[0].structureAvailable);

                        $("#hdnUDFAmount").val(data[0].udTax);
                        $("#lblUDFAmount").html(data[0].udTax);
                        $("#hdnUDT").val(data[0].udTax);
                        $("#hdnUDTaxId").val(data[0].taxidUD);

                        $("#lblStreet").html(data[0].streetName);
                        $("#lblLocation").html(data[0].location);
                        $("#lblrmsyear").html(data[0].rmsYear);

                        if (data[0].landTypeId == 1) {
                            $("#hdnLTId").val(1);
                            $("#lblLandTaxAmount").html(data[0].landTaxAmount); $("#hdnLandTaxAmount").val(data[0].landTaxAmount);
                        }
                        else if (data[0].landTypeId == 2) {
                            $("#hdnLTId").val(2);
                            $("#lblLandTaxAmount").html(data[0].landTaxAmount); $("#hdnLandTaxAmount").val(data[0].landTaxAmount);
                        }
                        else if (data[0].landTypeId == 3) {
                            $("#hdnLTId").val(3);
                            $("#lblLandTaxAmount").html(data[0].landTaxAmount); $("#hdnLandTaxAmount").val(data[0].landTaxAmount);
                        }
                        else if (data[0].landTypeId == 4) {
                            $("#hdnLTId").val(50);
                            $("#lblLandTaxAmount").html(data[0].landTaxAmount); $("#hdnLandTaxAmount").val(data[0].landTaxAmount);
                        }
                        else if (data[0].landTypeId == 5) {
                            $("#hdnLTId").val(51);
                            $("#lblLandTaxAmount").html(data[0].landTaxAmount); $("#hdnLandTaxAmount").val(data[0].landTaxAmount);
                        }
                        else {
                            $("#hdnLTId").val(0);
                            //$("#lblLTType").html("Land Type Not Found");
                            $("#lblLandTaxAmount").html(0); $("#hdnLandTaxAmount").val(0);
                        }



            $.ajax({
                type: "GET",
                url: '@Url.Action("lasttaxpaid", "PropertyTaxs")',
                data: {
                    LandOwnershipId: parseInt(LandOwnershipId),
                },
            success: function (data) {
                console.log(data);

                var myyear = 0;

                $.each(data, function (key, value) {

                    if (value.calendarYear != null) {
                        if (myyear < value.calendarYear) {
                            myyear = value.calendarYear;
                        }
                    }

                });

                var pmode = myyear;

                $('#lblLastpaymentyear').html(
                    "" + pmode + ""
                )
                $('#img').hide();
             },
            error: function () {
                    $('#img').hide();
                    alert('Error occured');
                }
            });
                        var yeart = parseInt($('#TaxYearId option:selected').text());
                       var LandDetailId11 = ($("#hdnLandDetailId").val());
                     //GET HOUSE TAX START

                                    $.ajax({
                                        type: "GET",
                                        url: '@Url.Action("GetBuildingTaxDetail", "PropertyTaxs")',
                                         data: {
                                             LandOwnershipId: parseInt(LandDetailId11),
                                             TaxYearId: yeart
                                    },
                                        success: function (data) {
                                        console.log(data);
                                            $('#tbl_bodyBTax').empty();
                                            if (data.length > 0) {
                                                $('#hdnBuildingCount').val(data.length);
                                                var TUT = 0;
                                                var TGT = 0;
                                                var TSLT = 0;
                                                var GTA = 0;
                                                var bci1;
                                                //alert('h');
                                                $.each(data, function (key, value) {
                                                    TUT += value.unitTax;
                                                    $("#TotalUT").html(TUT);


                                                    TGT += value.garbageTax;
                                                    $("#TotalGT").html(TGT);
                                                    $("#gtai").val(TGT);


                                                    TSLT += value.streetLightTax;
                                                    $("#TotalSLT").html(TSLT);
                                                    $("#sta").val(TSLT);

                                                    bci1 = value.buildingClassId;
                                                    $("#bci").val(bci1);
                                                    $('#tbl_bodyBTax').append(

                                                        '<tr>' + '<td>' + (key + 1) + '</td>'
                                                        + '<td style="display:none;"><input id="constructionTypeId_' + key + '" type="hidden" value="' + value.constructionTypeId + '" /><input id="buildingUnitUseTypeId_' + key + '" type="hidden" value="' + value.buildingUnitUseTypeId + '" /><input id="slabId_' + key + '" type="hidden" value="' + value.slabId + '" /> <input id="LandOwnerShipId_' + key + '" type="" value="' + LandOwnershipId + '" /> <input id="unitTaxId_' + key + '" type="hidden" value="' + value.unitTaxId + '"/><input id="unitTax_' + key + '" type="hidden" value="' + value.unitTax + '"/><input id="garbageTaxId_' + key + '" type="hidden" value="' + value.garbageTaxId + '"/><input id="garbageTax_' + key + '" type="hidden" value="' + value.garbageTax + '"/><input id="streetLightTaxId_' + key + '" type="hidden" value="' + value.streetLightTaxId + '"/><input id="streetLightTax_' + key + '" type="hidden" value="' + value.streetLightTax + '"/></td>'

                                                        + '<td>' + value.buildingNo + '</td>'
                                                        + '<td>' + value.constructionType + '</td>'
                                                        + '<td>' + value.buildingUnitClass + '</td>'
                                                        + '<td>' + value.buildingUnitUseType + '</td>'
                                                        + '<td>' + value.floorNo + '</td>'
                                                        //+ '<td>' + value.noOfrooms + '</td>'
                                                        + '<td>' + value.unitTaxRate + '</td>'
                                                        + '<td>' + value.noOfUnit + '</td>'
                                                        + '<td>' + value.unitTax + '</td>'
                                                        + '<td>' + value.garbageTaxRate + '</td>'
                                                        + '<td>' + value.garbageTax + '</td>'
                                                        + '<td>' + value.streetLightTaxRate + '</td>'
                                                        + '<td>' + value.streetLightTax + '</td>'
                                                        + '</td>'
                                                        + '</tr>');
                                                });

                                                var UDT = $("#lblLandTaxAmount").html();
                                                var LTA = $("#lblUDFAmount").html();
                                                var tp = $('#hdnpenalties').val();

                                                GTA = parseFloat(TUT) + parseFloat(TGT) + parseFloat(TSLT) + parseFloat(LTA) + parseFloat(UDT) + parseFloat(tp);
                                                $("#lblGTA").html(GTA);

                                                $("#lblUHTResidential").html(data[0].unitTax);
                                                $("#lblUHTCommercial").val(data[0].unitTax);
                                                $("#lblUHTIndustrial").html(unitTax);
                                                $("#lblUHTInstitutional").html(data[0].unitTax);
                                                $("#lblUHTHotel").html(data[0].unitTax);

                                                $('#img').hide();
                                                $("#dvTaxDetail").show(1000);
                                                $('html,body').animate({
                                                    scrollTop: $("#dvTaxDetail").offset().top
                                                }, 'slow');
                                            }
                                            else {

                                                var La = $("#hdnLandTaxAmount").val();
                                                var udt = $("#hdnUDT").val();
                                                var tp = $('#hdnpenalties').val();
                                                var tt = 0;
                                                tt = parseFloat(La) + parseFloat(udt) + parseFloat(tp);
                                                $("#lblGTA").html(tt);
                                                $('#hdnBuildingCount').val(0);
                                                $('#TotalUT').html(0);
                                                $('#TotalGT').html(0);
                                                $('#TotalSLT').html(0);
                                                $('#img').hide();
                                                $("#dvTaxDetail").show(1000);
                                                $('html,body').animate({
                                                    scrollTop: $("#dvTaxDetail").offset().top
                                                }, 'slow');
                                                $('#tbl_bodyBTax').append(
                                                    '<tr><td colspan="13" style="color: red;">No record found!</td></tr>');
                                            }

                                        },
                                            error: function () {
                                            $('#img').hide();
                                            alert('Error occured');
                                            }
                                        });
                        //
                        $('#img').hide(1000);
                        $('html,body').animate({
                            scrollTop: $("#dvTaxDetail").offset().top
                        }, 'slow');

                    }
                    else {
                        $('#img').hide();
                        $("#dvTaxDetail").show(1000);
                        $('html,body').animate({
                            scrollTop: $("#dvTaxDetail").offset().top
                        }, 'slow');

                        $('#tbl_body2').append(
                            '<tr><td colspan="13" style="color: red;">No record found!</td></tr>');
                    }

                },
                    error: function () {
                    $('#img').hide();
                    alert('Error occured');
                    }
                });
    }
    $("#btnCancel").click(function () {

        $("#dvTaxDetail").hide(1000);
        $("#dvLandOwnership").hide(1000);

    });
    $("#btnGenerate").click(function () {


        if ($('#lblStructureAvailable').html() == "Yes") {
            if ($('#hdnBuildingCount').val() == 0) {

                swal("Please enter building details first!");
                return false;
            }
        }

        $.ajax({
            type: "GET",
            url: '@Url.Action("CheckDuplicateTax", "PropertyTaxs")',
            data: {
                TaxPayerId: $('#hdnTaxPayerId').val(),
                LandDetailId: $('#hdnLandDetailId').val(),
                CalendarYearId: $('#TaxYearId').val(),
            },
            success: function (data) {
                if (data.length > 0) {
                    swal('Demand is already generated for selected year!');
                    return false;
                }
                else {

                    var r = confirm("Are you sure you want to pay.?");
                    if (r == true) {
                        $('#img').show(1000);
                    } else {
                        return false;
                    }
                    //************************DEMAND START**********************
                    var myarray = [];
                    var obj = {};
                    obj.TaxId = parseInt($("#hdnLTId").val());
                    obj.TotalAmount = parseFloat($("#hdnLandTaxAmount").val());
                    obj.TaxIdUD = parseInt($("#hdnUDTaxId").val());
                    obj.TotalAmountUD = parseFloat($("#hdnUDFAmount").val());
                    obj.TaxPayerId = parseInt($("#hdnTaxPayerId").val());
                    obj.LandDetailId = parseInt($("#hdnLandDetailId").val());
                    obj.landOwnershipId = parseInt($("#hdnLandOwnerShipId").val());
                    obj.CalendarYearId = parseInt($("#TaxYearId").val());
                    myarray.push(obj);
                    console.log(JSON.stringify(myarray));
                    //************************DEMAND  START**********************

                    $.ajax({
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: '@Url.Action("GenerateLandTax", "PropertyTaxs")',
                        type: "POST",
                        data: JSON.stringify(myarray),
                        success: function (response) {
                            //
                            if (response > 0) {
                                if ($("#hdnStructure").val() == "false") {
                                    swal("Demand generated successfully.");
                                    $('#img').hide();
                                    GetDemandReceipt(response);
                                    return false;
                                }

                                var b = ($("#bci").val());
                              
                                if (b == 9) {

                                    //************************UNIT TAX START**********************
                                    var BTarray = []; var i = 0;
                                    $('#tblHouseTax > tbody  > tr ').each(function () {
                                        var BTobj = {};
                                        // alert($("#unitTax_" + i).val());
                                        BTobj.TaxId = parseInt($("#unitTaxId_" + i).val());
                                        BTobj.TotalAmount = parseFloat($("#unitTax_" + i).val());

                                        BTobj.GarbageTaxId = parseInt($("#garbageTaxId_" + i).val());
                                        BTobj.GarbageTax = parseFloat($("#gtai").val());

                                        BTobj.StreetLightTaxId = parseInt($("#streetLightTaxId_" + i).val());
                                        BTobj.StreetLightTax = parseFloat($("#sta").val());
                                        BTobj.landOwnershipId = parseInt($("#LandOwnerShipId_" + 0).val());
                                        BTobj.CalendarYearId = parseInt($("#TaxYearId").val());
                                        //BTobj.BankBranchId = parseInt($("#bankBranchId_" + i).val());
                                        //BTobj.PaymentModeNo = ($("#paymentModeNo_" + i).val());
                                        //BTobj.PaymentModeDate = ($("#paymentModeDate_" + i).val());
                                        BTobj.DemandNoId = parseInt(response);
                                        BTarray.push(BTobj);
                                        i = i + 1;
                                    });
                                    console.log(BTarray);
                                    $.ajax({
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        url: '@Url.Action("GenerateUnitTax", "PropertyTaxs")',
                                        type: "POST",
                                        data: JSON.stringify(BTarray),
                                        success: function (r2) {
                                            //    alert(r2);
                                            if (r2 > 0) {
                                                swal("Demand generated successfully.");
                                                $('#img').hide();
                                                GetDemandReceipt(r2);
                                                setTimeout(function () {
                                                    $('.alert').fadeOut(1000);
                                                    //location.reload();
                                                }, 5000);
                                            }
                                            else {
                                                swal("Error saving demand details.");
                                                $('#img').hide();
                                            }
                                        }
                                    });
                                }

                                  else {

                                    //************************UNIT TAX START**********************
                                    var BTarray = []; var i = 0;
                                    $('#tblHouseTax > tbody  > tr ').each(function () {
                                        var BTobj = {};
                                        // alert($("#unitTax_" + i).val());
                                        BTobj.TaxId = parseInt($("#unitTaxId_" + i).val());
                                        BTobj.TotalAmount = parseFloat($("#unitTax_" + i).val());

                                        BTobj.GarbageTaxId = parseInt($("#garbageTaxId_" + i).val());
                                        BTobj.GarbageTax = parseFloat($("#garbageTax_" + i).val());

                                        BTobj.StreetLightTaxId = parseInt($("#streetLightTaxId_" + i).val());
                                        BTobj.StreetLightTax = parseFloat($("#sta").val());
                                        BTobj.landOwnershipId = parseInt($("#LandOwnerShipId_" + 0).val());
                                        BTobj.CalendarYearId = parseInt($("#TaxYearId").val());
                                        //BTobj.BankBranchId = parseInt($("#bankBranchId_" + i).val());
                                        //BTobj.PaymentModeNo = ($("#paymentModeNo_" + i).val());
                                        //BTobj.PaymentModeDate = ($("#paymentModeDate_" + i).val());
                                        BTobj.DemandNoId = parseInt(response);
                                        BTarray.push(BTobj);
                                        i = i + 1;
                                    });
                                    console.log(BTarray);
                                    $.ajax({
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        url: '@Url.Action("GenerateUnitTax1", "PropertyTaxs")',
                                        type: "POST",
                                        data: JSON.stringify(BTarray),
                                        success: function (r2) {
                                            //    alert(r2);
                                            if (r2 > 0) {
                                                swal("Demand generated successfully.");
                                                $('#img').hide();
                                                GetDemandReceipt(r2);
                                                setTimeout(function () {
                                                    $('.alert').fadeOut(1000);
                                                    //location.reload();
                                                }, 5000);
                                            }
                                            else {
                                                swal("Error saving demand details.");
                                                $('#img').hide();
                                            }
                                        }
                                    });
                                }
                                }
                                else {
                                    $('#img').hide();
                                    alert("Error saving details.");
                                }
                            }
                        });

        $("Cid").focus();

                }
            }
        });
    });
    function ok() {
        $("#dvDemand").hide(1000);
        $("#dvTaxDetail").hide(1000);
        $("#dvLandOwnership").hide(1000);
        $("#dvTaxPayerInfo").hide(1000);
    };
    function printPage() {
        var dataToPrint = document.getElementById("dvPrint");
        newWin = window.open("");
        newWin.document.write(dataToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
    function GetDemandReceipt(DemandNoId) {
       $('#dvDemand').show();
          $('#img').show();
        $.ajax({
                type: "GET",
                url: '@Url.Action("GetGeneratedDemand", "PropertyTaxs")',
                data: {
                    DemandNoId: DemandNoId,
                },
                success: function (data) {
                console.log(data);
                    $('#tblDemand').empty();
                    if (data.length > 0) {

                        $("#lblRTaxYear").html(data[0].calendarYear);
                        $("#lblRUserName").html(data[0].userName);
                        $("#lblRContactAddress").html(data[0].caddress);
                        $("#lblRFullName").html(data[0].fullName);
                        $("#lblRCID").html(data[0].cid);
                        $("#lblRTTIN").html(data[0].ttin);
                        $("#lblRPlotNo").html(data[0].plotNo);
                        $("#lblRThramNo").html(data[0].thramNo);
                        $("#lblTotalDemandAmount").html(data[0].totalAmountDemand);
                        $("#lblRDemandNo").html(data[0].demandNo);
                        var today = new Date(data[0].createdOn);
                        var date = ("0" + today.getDate()).slice(-2) + '/' + ("0" + (today.getMonth() + 1)).slice(-2) + '/' + today.getFullYear()
                        $("#lblRDemandDate").html(date);

                        $("#lblRTransactionType").html(data[0].transactionType);
                        $('#qrDemandNo').attr('src', `data:image/png;base64,${data[0].qrImage}`);
                        $("#dvDemand").show(1000);
                        $('html,body').animate({
                            scrollTop: $("#dvDemand").offset().top
                        }, 'slow');
                        $.each(data, function (key, value) {
                            $('#tblDemand').append(
                                '<tr>' + '<td>' + (key + 1) + '</td>'
                                + '<td>' + value.taxName + '</td>'
                                + '<td>' + value.totalAmount+ '</td>'
                                //+ '<td>' + value.demandNo + '</td>'
                                //+ '<td>' + value.taxPayer + '</td>'
                                //+ '<td>' + value.taxPayerType + '</td>'
                                //+ '<td>' + value.plotNo + '</td>'
                                //+ '<td>' + value.landTypeName + '</td>'
                                //+ '<td>' + value.landAcerage + '</td>'
                                //+ '<td><b><a style="cursor: pointer; color: forestgreen;" title="Select To Generate" onclick="return displayLandDetail(' + value.taxPayerId + ');">Select</a></b></td>'

                                + '</td>'
                                + '</tr>');
                        });
                        $('#img').hide();
                        $('html,body').animate({
                            scrollTop: $("#dvDemand").offset().top
                        }, 'slow');

                    }
                    else {
                        $('#img').hide();
                        $("#dvDemand").show(1000);
                        $('#tblDemand').append(
                            '<tr><td colspan="7" style="color: red;">No record found!</td></tr>');
                    }

                },
                    error: function () {
                    $('#img').hide();
                    alert('Error occured');
                    }
                });

    }
        @*$("#btnGenerate1").click(function () {
        $('#dvDemand').show();
          $('#img').show();
        $.ajax({
                type: "GET",
                url: '@Url.Action("GetGeneratedDemand", "PropertyTaxs")',
                data: {
                    DemandNoId: 72,
                },
                success: function (data) {
                console.log(data);
                    $('#tblDemand').empty();
                    if (data.length > 0) {
                        $("#lblRUserName").html(data[0].userName);
                        $("#lblRContactAddress").html(data[0].caddress);
                        $("#lblRFullName").html(data[0].fullName);
                        $("#lblRCID").html(data[0].cid);
                        $("#lblRTTIN").html(data[0].ttin);
                        $("#lblRPlotNo").html(data[0].plotNo);
                        $("#lblRThramNo").html(data[0].thramNo);
                        $("#lblTotalDemandAmount").html(data[0].totalAmountDemand);
                        $("#demandNo").html(data[0].demandNo);
                        $("#demandDate").html(data[0].createdOn);
                        $("#transactionType").html(data[0].transactionType);
                        $('#qrDemandNo').attr('src', `data:image/png;base64,${data[0].qrImage}`);
                        $("#dvDemand").show(1000);
                        $('html,body').animate({
                            scrollTop: $("#dvDemand").offset().top
                        }, 'slow');
                        $.each(data, function (key, value) {
                            $('#tblDemand').append(
                                '<tr>' + '<td>' + (key + 1) + '</td>'
                                + '<td>' + value.taxName + '</td>'
                                + '<td>' + value.totalAmount+ '</td>'
                                //+ '<td>' + value.demandNo + '</td>'
                                //+ '<td>' + value.taxPayer + '</td>'
                                //+ '<td>' + value.taxPayerType + '</td>'
                                //+ '<td>' + value.plotNo + '</td>'
                                //+ '<td>' + value.landTypeName + '</td>'
                                //+ '<td>' + value.landAcerage + '</td>'
                                //+ '<td><b><a style="cursor: pointer; color: forestgreen;" title="Select To Generate" onclick="return displayLandDetail(' + value.taxPayerId + ');">Select</a></b></td>'

                                + '</td>'
                                + '</tr>');
                        });
                        $('#img').hide();
                        $('html,body').animate({
                            scrollTop: $("#dvDemand").offset().top
                        }, 'slow');

                    }
                    else {
                        $('#img').hide();
                        $("#dvDemand").show(1000);
                        $('#tblDemand').append(
                            '<tr><td colspan="7" style="color: red;">No record found!</td></tr>');
                    }

                },
                    error: function () {
                    $('#img').hide();
                    alert('Error occured');
                    }
                });

        });*@
    function GetCalendarYear() {
           // $('#img').show();
            $.ajax({
                type: "Get",
                url: '@Url.Action("PopulateCalendarYear", "PropertyTaxs")',
                data: {
                    //id: parseInt($('#GewogId').val())
                },
                success: function (data) {
                    console.log(data);
                    $('#TaxYearId').empty();
                    //$('#TaxYearId').append(
                    //    '<option value=0>--Please Select--</option>');
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var newOption = $('<option value=' + data[i].value + '>'
                                + data[i].text
                                + '</option>');
                            $('#TaxYearId').append(newOption);
                        }
                      //  $('#img').hide();
                    }
                },
                error: function () {
                 //   $('#img').hide();
                    alert('Error occured while loading year');
                }
            });

    };

</script>
