@using CORE_BOL
@model TaxPeriodVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Tax Master</a></li>
                    <li class="breadcrumb-item active">Create New Data</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<form class="form-horizontal" asp-action="Create" method="post">
    @*data-ajax="true" data-ajax-method="post">*@

    <div class="card card-info">
        @if (TempData["msg"] != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                <p>@TempData["msg"]</p>
            </div>
        }
        <div class="card-header">
            <h3 class="card-title">Create Tax Period</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div class="card-body">
            <p>
                <a asp-action="Index" class="btn btn-outline-danger btn-lg" title="Go Back"><i class="fas fa-backward"></i> Go Back</a>
            </p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group row">
                <label asp-for="TransactionTypeId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <select asp-for="TransactionTypeId" id="TransactionTypeId" class="form-control select2bs4" style="width: 100%;" asp-items="@(new SelectList (@ViewBag.TransactionType,"Value","Text")) " value="0"></select>
                    <span asp-validation-for="TransactionTypeId" id="errorTransactionTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="CalendarYearId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <select asp-for="CalendarYearId" id="CalendarYearId" class="form-control select2bs4" style="width: 100%;" asp-items="@(new SelectList (@ViewBag.CalendarYear,"Value","Text")) " value="0"></select>
                    <span asp-validation-for="CalendarYearId" id="errorCalendarYearId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EffectiveDate" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="EffectiveDate" type="date" class="form-control" placeholder="Start Date" required/>
                    <span asp-validation-for="EffectiveDate" class="text-danger"></span>
                </div>
            </div>

            @*<div class="form-group row">
                <label asp-for="EndDate" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-3">
                    <input asp-for="EndDate" type="date" class="form-control" placeholder="End Date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>*@

            <div class="form-group row">
                <label asp-for="Penalty" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="Penalty" class="form-control" placeholder="Penalty" required/>
                    <span asp-validation-for="Penalty" class="text-danger"></span>
                </div>
            </div>

            @*<div class="form-group row">
                <label asp-for="IsActive" class="col-sm-2 col-form-label"></label>
                <div class="custom-control custom-checkbox">
                    &nbsp;&nbsp; <input class="custom-control-input" type="checkbox" asp-for="IsActive" checked>
                    <label for="IsActive" class="custom-control-label">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>*@
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" onclick="return saveme();">Save</button>
                    <button type="reset" id="btnCancel" class="btn btn-warning">Cancel</button>

                </div>

            </div>
        </div>
        <!-- /.card-body -->
        <!-- /.card-footer -->
</form>

<script>
    //Validation
    function saveme() {
        //Transaction Type
        if ($('#TransactionTypeId option:selected').val() == 0) {
            $('#errorTransactionTypeId').html('Please Select a Value');
            $('#TransactionTypeId').focus();
            return false;
        }
        else {
            $('#errorTransactionTypeId').html('');
        }
        //Calendar Year
        if ($('#CalendarYearId option:selected').val() == 0) {
            $('#errorCalendarYearId').html('Please Select a Value');
            $('#CalendarYearId').focus();
            return false;
        }
        else {
            $('#errorCalendarYearId').html('');
        }

    }
</script>
