@model CORE_BOL.Entities.MstTaxPeriod

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MstTaxPeriod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyOrRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyOrRate)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxTypeClassification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxTypeClassification.TaxTypeClassificationName)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaxPeriodId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
