@model List<CORE_BOL.ECDetailModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Environment Clearance</a></li>
                    <li class="breadcrumb-item active">EC Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card card-info">
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-check"></i> Alert!</h5>
            <p>@TempData["msg"]</p>
        </div>
    }

    <div class="card-header">
        <h3 class="card-title">Search Applicant Detail</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">CID/Licence No </label>
            <div class="col-sm-3">
                <input class="form-control" placeholder="CID/Licence No" id="CIDLicenseNoInput" />
            </div>
            <label class="col-sm-2 col-form-label">Applicant Name</label>
            <div class="col-sm-3">
                <input class="form-control" placeholder="Applicant Name" id="ApplicantNameInput" />
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" onclick="return SearchApplicantDetail();">Search</button>

            </div>
        </div>
    </div>
</div>

<div class="card card-info" id="ApplicantDetails" style="display: none;">
    <div class="card-header">
        <h3 class="card-title">Applicant Details</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <table id="" class="table table-bordered table-striped">
                <thead style="background-color:mediumaquamarine">
                    <tr>
                        <th>CID</th>
                        <th>Licence No</th>
                        <th>Applicant Name</th>
                        <th>Address</th>
                        <th>Contact No</th>
                        <th>Post Box No</th>
                        <th>Fax No</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tblApplicantDetails">
                </tbody>
                <tr>
                    <td class="col-sm-2">
                        <button type="button" class="btn btn-primary" onclick="return AddNewEC();">Add New EC</button>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</div>

<div class="card card-info" id="ECDetails" style="display: none;">
    <div class="card-header">
        <input type="hidden" id="hdnApplicant" />
        <h3 class="card-title">Environment Clearance Details</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <table id="" class="table table-bordered table-striped">
                <thead style="background-color:mediumaquamarine">
                    <tr>
                        <th>Project Name</th>
                        <th>Activity Type</th>
                        <th>Industry Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Project Status</th>
                        <th>Approval Status</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody id="tblECDetails">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card card-info" style="display:none;" id="CreateNewEC">
    <div class="card-header">
        <h3 class="card-title">Create New Environment Clearance</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Project Name<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input id="ProjectName" class="form-control" placeholder="Enter Project Name" required />
                <span id="ProjectNameEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Activity Type<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <select id="ActivityTypeId" class="form-control select2bs4" style="width: 100%;" asp-items="@(new SelectList (@ViewBag.ActivityTypeId,"Value","Text")) " value="0" onchange="myFunction();"></select>
                <span id="ActivityTypeEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" id="DisplayQuantity" style="display: none;">
            <label class="col-sm-3 col-form-label">Quantity<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input type="number" id="Quantity" class="form-control" placeholder="Enter Quantity" required />
                <span id="QuantityEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" id="DisplayIndustryType">
            <label class="col-sm-3 col-form-label">Industry Type<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <select id="IndustryTypeId" class="form-control select2bs4" style="width: 100%;" asp-items="@(new SelectList (@ViewBag.IndustryTypeId,"Value","Text")) " value="0"></select>
                <span id="IndustryTypeEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Start Date<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input type="date" id="StartDate" class="form-control" placeholder="Enter Start Date" required />
                <span id="StartDateEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">End Date<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input type="date" id="EndDate" class="form-control" placeholder="Enter End Date" required />
                <span id="EndDateEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" onclick=" return SaveECDetail();">Save</button>
                <button id="btnCancel" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="card card-info" style="display:none;" id="UpdateApprovalStatus">
    <div class="card-header">
        <input type="hidden" id="hdnECDetailId" />
        <h3 class="card-title">Update Approval Status</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-2"></div> &nbsp;
            <div class="form-check">
                <input class="form-check-input" name="flexRadioDefault" type="radio" id="Approved">
                <label class="form-check-label" for="Approved">Approve &nbsp; &nbsp; &nbsp; &nbsp;</label>
                <input class="form-check-input" name="flexRadioDefault" type="radio" id="Reject">
                <label class="form-check-label" for="Reject">
                    Reject
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Approval Remarks</label>
            <div class="col-sm-4">
                <textarea class="form-control" id="ApprovalRemarks" placeholder="Enter Approval Remarks" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" onclick="return SaveApprovalStatus();">Save</button>
                <button id="btnCancel1" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="card card-info" style="display:none;" id="UpdateProjectStatus">
    <div class="card-header">
        <input type="hidden" id="hdnECDetailId" />
        <h3 class="card-title">Update Project Status</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-2"></div> &nbsp;
            <div class="form-check">
                <input class="form-check-input" name="flexRadioDefault" type="checkbox" id="Close">
                <label class="form-check-label" for="Close">Close</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Project Close Date<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input type="date" id="ProjectCloseDate" class="form-control" placeholder="Enter Project Close Date" required />
                <span id="ProjectCloseDateEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Project Close Remarks</label>
            <div class="col-sm-4">
                <textarea class="form-control" id="ProjectCloseRemarks" placeholder="Enter Project Close Remarks" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" onclick="return SaveProjectStatus();">Save</button>
                <button id="btnCancel2" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="card card-info" style="display:none;" id="UpdateEC">
    <div class="card-header">
        <input type="hidden" id="UECRenewalId" />
        <h3 class="card-title">Update Environment Clearance</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Project Name<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input id="UProjectName" class="form-control" placeholder="Enter Project Name" required />
                <span id="UProjectNameEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Activity Type<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <select id="UActivityTypeId" class="form-control select2bs4" style="width: 100%;" asp-items="@(new SelectList (@ViewBag.ActivityTypeId,"Value","Text")) " value="0" onchange="myFunctionUpdate();"></select>
                <span id="UActivityTypeEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" id="UDisplayQuantity" style="display: none;">
            <label class="col-sm-3 col-form-label">Quantity<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input type="number" id="UQuantity" class="form-control" placeholder="Enter Quantity" required />
                <span id="UQuantityEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Industry Type<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <select id="UIndustryTypeId" class="form-control select2bs4" style="width: 100%;" asp-items="@(new SelectList (@ViewBag.IndustryTypeId,"Value","Text")) " value="0"></select>
                <span id="UIndustryTypeEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Start Date<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input id="UStartDate" type="date" class="form-control" placeholder="Enter Start Date" required />
                <span id="UStartDateEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">End Date<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-4">
                <input type="date" id="UEndDate" class="form-control" placeholder="Enter End Date" required />
                <span id="UEndDateEr" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" onclick=" return UpdateECDetail();">Save</button>
                <button id="btnUCancel3" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="GECDetailId" />
<input type="hidden" id="GIndustryTypeId" />
<input type="hidden" id="GActivityTypeId" />
<input type="hidden" id="GApplicantId" />
<input type="hidden" id="GAQuantity" />
<input type="hidden" id="GECRenewalId" />


<div class="card card-info" id="ViewECDemand" style="display:none;">
    <div class="card-body" id="toprint">
        <div class="form-group row">

            <table style="width: 100%">
                <tr>

                    <td>
                        <img src="~/dist/img/tt_logo.gif"
                             style="width: 120px; height: 100px" />
                    </td>

                    <td>
                        <strong><b style="font-size:large;">Thimphu Thromde</b></strong> <br /> <strong>EC Demand Recepit </strong>
                    </td>

                    <td>
                        <img id="qrDemandNo" style="width: 120px; height: 100px" />
                    </td>

                </tr>
                <tr>
                    <td>
                        <b>Demand No:</b>&nbsp;<label id="lblDemandNo" value="" />
                    </td>
                    <td>
                        <b>Activity Type:</b> <label id="lblActivityType" value="" />

                    </td>
                    <td>
                        <b>Demand Date:</b>&nbsp;<label id="lblDemandDate" value="" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>CID:</b>&nbsp;<label id="lblCID" class="col-form-label" readonly />
                    </td>

                    <td>
                        <b>License No:</b>&nbsp;<label id="lblLicenseNo" class="col-form-label" readonly />
                    </td>

                    <td>
                        <b>Name:</b>&nbsp;<label id="lblName" value="" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>Address:</b>&nbsp;<label id="lblAddress" class="col-form-label" readonly />
                    </td>
                    <td>
                        <b>Start Date:</b>&nbsp;<label id="lblSDate" class="col-form-label" readonly />
                    </td>

                    <td>
                        <b>End Date:</b>&nbsp;<label id="lblEDate" class="col-form-label" readonly />
                    </td>
                </tr>

            </table>
        </div>
        <br />
        <div class="form-group row">
            <table id="example1" border="1" style=" border-collapse: collapse; " width="100%">
                <thead style="background-color:mediumaquamarine">
                    <tr>
                        <th>#</th>
                        <th>Tax Name</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody id="tblECViewDemand">
                </tbody>
                    <tr><td></td><td align="right"><b>Total Amount:</b></td><td style="text-align:left"><label id="lblNtamount" value="" class="col-form-label" readonly /> </td></tr>
            </table>
        </div>
        <div class="form-group row">
            <table style="width: 100%">
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                    <td colspan="4">
                    </td>
                    <td colspan="2">
                    </td>
                    <td colspan="2">
                    </td>
                    <td></td>
                    <td></td>
                    <td colspan="4">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                    <td colspan="4">
                    </td>
                    <td colspan="2">
                    </td>
                    <td colspan="2">
                    </td>
                    <td></td>
                    <td></td>
                    <td colspan="4">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                    <td colspan="4">
                    </td>
                    <td colspan="2">
                    </td>
                    <td colspan="2">
                    </td>
                    <td></td>
                    <td></td>
                    <td colspan="4">
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <b>Generated by:</b>&nbsp;<label id="lblUser" value="" />
                    </td>
                    <td colspan="4">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary" onclick="return ok();">Ok</button>  &nbsp;  &nbsp;
            <button class="btn btn-warning" onclick="return printPage();"><i class="fas fa-print"></i>Print</button>
        </div>
    </div>
</div>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>

//**************************************************************SEARCH APPLICANT DETAILS********************************************************************

    function SearchApplicantDetail() {
        $('#ViewECDemand').hide(1000);
   $('#CreateNewEC').hide(1000);
    $('#ECDetails').hide(1000);
    $('#CreateNewEC').hide(1000);
    $('#UpdateApprovalStatus').hide(1000);
    $('#UpdateEC').hide(1000);
    $('#Details').hide(1000);
   var CIDLicenceNo = $('#CIDLicenseNoInput').val();
   var ApplicantName = $('#ApplicantNameInput').val();

        if ($('#CIDLicenseNoInput').val() == "" && $('#ApplicantNameInput').val() == "") {
            swal('Empty Fields!', '', 'error');
            $('#CIDLicenseNoInput').focus();
            $('#ApplicantNameInput').focus();
            return false;
            }
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetApplicantDetails", "ECdetails")',
                        data: {
                            CIDLicenceNo: CIDLicenceNo,
                            ApplicantName: ApplicantName
                        },
                        success: function (data) {
                            $('#tblApplicantDetails').empty();
                            if (data.length > 0) {
                                $.each(data, function (key, value) {
                                    $('#ApplicantDetails').show(1000);
                                    $('#tblApplicantDetails').append(
                                        '<tr>'
                                        + '<td>' + value.cid + '</td>'
                                        + '<td>' + value.licenceNo + '</td>'
                                        + '<td>' + value.applicantName + '</td>'
                                        + '<td>' + value.address + '</td>'
                                        + '<td>' + value.contactNo + '</td>'
                                        + '<td>' + value.postBoxNo + '</td>'
                                        + '<td>' + value.faxNo + '</td>'
                                        + '<input id="hdnApplicantId' + key + '" type="hidden" value="' + value.applicantId + '" />'
                                        + '<td>'
                                        + '<a style = "color: blue; cursor: pointer;" onclick = "return ViewECDetails(' + value.applicantId + ' )" title = "View EC Details" >View</a >'
                                        + '</td>'
                                        + '</tr>');
                                });
                            }
                            else {
                                $('#ApplicantDetails').show(1000);
                                $('#tblApplicantDetails').append(
                                '<tr><td colspan="8" style="color: red;">No record found!</td></tr>');
                        }

                    },

                        error: function () {
                            alert('error');
                        }
        });
        }
//**************************************************************ADD EC BUTTON*********************************************************************************************
    function AddNewEC() {
        $('#ViewECDemand').hide(1000);
            $('#CreateNewEC').show(1000);
            $('#Details').hide(1000);
            $('#ECDetails').hide(1000);
            $('#UpdateApprovalStatus').hide(1000);
            $('#UpdateProjectStatus').hide(1000);
            $('#UpdateEC').hide(1000);
            $('#ActivityTypeId').val(0).trigger('change');
            $('#IndustryTypeId').val(0).trigger('change');
            $('#ProjectName').val('');
            $('#StartDate').val('');
            $('#EndDate').val('');
            $('#Quantity').val('');
                }

                function myFunction() {
                    var x = document.getElementById("ActivityTypeId").value;
                    if (x == 6) {
                        $('#DisplayQuantity').show(1000);
                        $('#DisplayIndustryType').hide(1000);
                    }
                    else {
                        $('#DisplayQuantity').hide(1000);
                        $('#DisplayIndustryType').show(1000);
                    }

                }

                function myFunctionUpdate() {
                    var x = document.getElementById("UActivityTypeId").value;
                    if (x == 6) {
                        $('#UDisplayQuantity').show(1000);
                    }
                    else {
                        $('#UDisplayQuantity').hide(1000);
                    }

                }
//**************************************************************SAVE EC DETAILS**********************************************************************************

    function SaveECDetail() {
        if ($('#StartDate').val() >= $('#EndDate').val()) {
            swal('Start Date should be greater than End Date');
            return false;
        }
        $('#ViewECDemand').hide(1000);
             if ($('#ActivityTypeId option:selected').val() == 0) {
                $('#ActivityTypeEr').html('Please Select a value');
                $('#ActivityTypeId').focus();
                return false;
                }
             else {
                $('#ActivityTypeEr').html('');
                }

        var myarray = [];
        var ECDetailModel = {};
        var index = 0;
        var ApplicantId = $('#hdnApplicantId' + parseInt(index)).val();
        if ($('#ActivityTypeId').val() == 6) {
            ECDetailModel.Quantity = parseFloat($("#Quantity").val());
            ECDetailModel.IndustryTypeId = 5;
                }
        else {
            if ($('#IndustryTypeId option:selected').val() == 0) {
                $('#IndustryTypeEr').html('Please Select a value');
                $('#IndustryTypeId').focus();
                return false;
            }
            else {
                $('#IndustryTypeEr').html('');
            }
            ECDetailModel.IndustryTypeId = parseInt($("#IndustryTypeId").val());
                    ECDetailModel.Quantity = 0;
                }
                    ECDetailModel.ProjectName = $('#ProjectName').val();
        ECDetailModel.ApplicantId = parseInt(ApplicantId);
        ECDetailModel.EcActivityTypeId = parseInt($("#ActivityTypeId").val());
                    ECDetailModel.StartDate = $("#StartDate").val();
                    ECDetailModel.EndDate = $("#EndDate").val();
                    myarray.push(ECDetailModel);

                var json_data = JSON.stringify(myarray);
                console.log(json_data);
                $('#img').hide();

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveECDetail", "ECdetails")',
            data: json_data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response > 0) {
                    swal('EC Saved Successfully!');
                    $('#CreateNewEC').hide(1000);

                }
                else {
                    swal('EC Saving Failed!');
                    $('#img').hide();
                    return false;
                }
            },
            failure: function (response) {
                $('#img').hide();
                swal("Creation Failed");
            },
            error: function (response) {
                $('#img').hide();
                swal("Error while inserting");
            }
        });
    }

//********************************************************DISPLAY EC DETAILS******************************************************************************
    function ViewECDetails(applicantId) {
        $('#ViewECDemand').hide(1000);
        $('#hdnApplicant').val(applicantId);
        $('#CreateNewEC').hide(1000);
        $('#Details').hide(1000);

                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetECDetails", "ECdetails")',
                        data: {
                            ApplicantId: parseInt(applicantId)
                        },
                        success: function (data) {
                            $('#tblECDetails').empty();
                            if (data.length > 0) {
                                $.each(data, function (key, value) {
                                    const d = new Date(value.startDate);
                                    const SDate = ("0" + d.getDate()).slice(-2) + '/' + ("0" + (d.getMonth() + 1)).slice(-2) + '/' + d.getFullYear()

                                    const e = new Date(value.endDate);
                                    const EDate = ("0" + e.getDate()).slice(-2) + '/' + ("0" + (e.getMonth() + 1)).slice(-2) + '/' + e.getFullYear()
                                    res = (value.demandId != 0) ? '<b><a style="cursor: pointer; color: forestgreen;" title="View Demand" onclick="return displayDemand(' + value.demandNoId + ');">View</a></b>' : '<b><a style="cursor: pointer; color: forestgreen;" title="Generate EC Demand" onclick="return GenerateEC(' + value.ecRenewalId + ',' + value.ecActivityTypeId + ',' + value.industryTypeId + ',' + value.applicantId + ',' + value.approvalStatusId + ',' + value.quantity + ',' + value.ecDetailId + ',\'' + EDate + '\')">Generate</a></b>';
                                    $('#ECDetails').show(1000);
                                    $('#tblECDetails').append(
                                        '<tr>'
                                        + '<td>' + value.projectName + '</td>'
                                        + '<td>' + value.activityType + '</td>'
                                        + '<td>' + value.industryTypeName + '</td>'
                                        + '<td>' + SDate + '</td>'
                                        + '<td>' + EDate + '</td>'
                                        + '<td>' + value.projectStatusName + '</td>'
                                        + '<td>' + value.approvalStatusName + '</td>'
                                        + '<td>'
                                        + '<a style = "color:#007bff; cursor: pointer;" onclick = "return ViewProjectStatus(' + value.ecDetailId + ' )" title = "Update Project Status" >Project Status</a >'
                                        + '&nbsp;|&nbsp;<a style = "color:#0275d8; cursor: pointer;" onclick = "return ViewApprovalStatus(' + value.ecDetailId + ' )" title = "Update Approval Status" >Approval Status</a >'
                                        + '&nbsp;|&nbsp;<a style = "color:#007bff; cursor: pointer;" onclick = "return ViewECDetailForUpdate(' + value.ecDetailId + ' )" title = "Edit EC Details" ><i class="fas fa-edit"></i></a >&nbsp;|&nbsp;'
                                        + res
                                        + '</td>'
                                        + '</tr>');
                                });
                            }
                            else {
                                $('#ECDetails').show(1000);
                                $('#tblECDetails').append(
                                '<tr><td colspan="8" style="color: red;">No record found!</td></tr>');
                        }

                    },

                        error: function () {
                            alert('error');
                        }
        });
    }

//*********************************************************************VIEW APPROVAL STATUS******************************************************************************

    function ViewApprovalStatus(ecDetailId) {
        $('#ViewECDemand').hide(1000);
          $('#UpdateApprovalStatus').show(1000);
          $('#UpdateProjectStatus').hide(1000);
          $('#CreateNewEC').hide(1000);
          $('#UpdateEC').hide(1000);
          $('#Details').hide(1000);

                $.ajax({
             type: "GET",
                url: '@Url.Action("GetECStatus", "ECdetails")',
                    data: {
                        ECDetailId: ecDetailId
                    },
                    success: function (data) {

                        if (data.length > 0) {
                            var ECDetailId = data[0].ecDetailId;
                            var Remarks = data[0].approvalRemarks;
                            var ApprovalStatusId = data[0].approvalStatusId;
                            if (ApprovalStatusId == 1) {
                                $('#Approved').prop('checked', 1);
                            }
                            else {
                                $('#Approved').prop('checked', 0);
                            }
                            if (ApprovalStatusId == 2) {
                                $('#Reject').prop('checked', 1);
                            }
                            else {
                                $('#Reject').prop('checked', 0);
                            }

                            $('#hdnECDetailId').val(ECDetailId);
                            $('#ApprovalRemarks').val(Remarks);
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
                }

//*********************************************************************SAVE APPROVAL STATUS******************************************************************************

    function SaveApprovalStatus() {
        $('#ViewECDemand').hide(1000);
            var statusId;
            if ($('#Approved').is(':checked')) {
               statusId = 1;
            }
            if ($('#Reject').is(':checked')) {
               statusId = 2;
            }
                    var myarray = [];
                    var ECDetailModel = {};
                    ECDetailModel.ApprovalRemarks = $('#ApprovalRemarks').val();
                    ECDetailModel.EcDetailId = parseInt($('#hdnECDetailId').val());
                    ECDetailModel.ApprovalStatusId = parseInt(statusId);
                    myarray.push(ECDetailModel);

                    var json_data = JSON.stringify(myarray);
                console.log(json_data);
                $('#img').hide();

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveApprovalStatus", "ECdetails")',
            data: json_data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response > 0) {
                    ViewECDetails($('#hdnApplicant').val());
                    swal('Approval Status Saved Successfully!');
                    $('#UpdateApprovalStatus').hide(1000);

                }
                else {
                    swal('Approval Status Saving Failed!');
                    $('#img').hide();
                    return false;
                }
            },
            failure: function (response) {
                $('#img').hide();
                swal("Creation Failed");
            },
            error: function (response) {
                $('#img').hide();
                swal("Error while inserting");
            }
        });
    }

//*********************************************************************VIEW PROJECT STATUS******************************************************************************

    function ViewProjectStatus(ecDetailId) {
        $('#ViewECDemand').hide(1000);
          $('#UpdateProjectStatus').show(1000);
          $('#CreateNewEC').hide(1000);
          $('#UpdateApprovalStatus').hide(1000);
          $('#UpdateEC').hide(1000);
          $('#Details').hide(1000);
                $.ajax({
             type: "GET",
                url: '@Url.Action("GetECStatus", "ECdetails")',
                    data: {
                        ECDetailId: ecDetailId
                    },
                    success: function (data) {

                        if (data.length > 0) {
                            var ECDetailId = data[0].ecDetailId;
                            var ProjectCloseRemarks = data[0].projectCloseRemarks;
                            var ProjectCloseDate = data[0].projectCloseDate;
                            if (ProjectCloseDate == null) {
                                $('#ProjectCloseDate').val('');
                            }
                            else {
                                const e = new Date(ProjectCloseDate);
                                const PCDate = e.getFullYear() + '-' + ("0" + (e.getMonth() + 1)).slice(-2) + '-' + ("0" + e.getDate()).slice(-2)
                                $('#ProjectCloseDate').val(PCDate);
                            }

                            var ProjectStatusId = data[0].projectStatusId;
                            if (ProjectStatusId == 2) {
                                $('#Close').prop('checked', 1);
                            }
                            else {
                                $('#Close').prop('checked', 0);
                            }

                            $('#hdnECDetailId').val(ECDetailId);
                            $('#ProjectCloseRemarks').val(ProjectCloseRemarks);
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
                }

//*********************************************************************SAVE PROJECT STATUS******************************************************************************

    function SaveProjectStatus() {
        $('#ViewECDemand').hide(1000);
            var statusId;
          if ($('#Close').is(':checked')) {
              statusId = 2;
          }
          else {
              statusId = 1;
          }

                    var myarray = [];
                    var ECDetailModel = {};
                    ECDetailModel.ProjectStatusId = parseInt(statusId);
                    ECDetailModel.EcDetailId = parseInt($('#hdnECDetailId').val());
                    ECDetailModel.ProjectCloseDate = $('#ProjectCloseDate').val();
                    ECDetailModel.ProjectCloseRemarks = $('#ProjectCloseRemarks').val();
                    myarray.push(ECDetailModel);

                    var json_data = JSON.stringify(myarray);
                console.log(json_data);
                $('#img').hide();

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveProjectStatus", "ECdetails")',
            data: json_data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response > 0) {
                    ViewECDetails($('#hdnApplicant').val());
                    swal('Project Close Status Saved Successfully!');
                    $('#UpdateProjectStatus').hide(1000);

                }
                else {
                    swal('Project Close Status Saving Failed!');
                    $('#img').hide();
                    return false;
                }
            },
            failure: function (response) {
                $('#img').hide();
                swal("Creation Failed");
            },
            error: function (response) {
                $('#img').hide();
                swal("Error while inserting");
            }
        });
    }

//*********************************************************************VIEW EC DETAILS FOR UPDATE******************************************************************************

    function ViewECDetailForUpdate(ecDetailId) {
        $('#ViewECDemand').hide(1000);
             $('#UpdateEC').show(1000);
             $('#UpdateApprovalStatus').hide(1000);
             $('#UpdateProjectStatus').hide(1000);
             $('#CreateNewEC').hide(1000);
             $('#Details').hide(1000);
                $.ajax({
             type: "GET",
                url: '@Url.Action("GetECDetailsForUpdate", "ECdetails")',
                    data: {
                        ECDetailId: ecDetailId
                    },
                    success: function (data) {

                        if (data.length > 0) {
                            var ECDetailId = data[0].ecDetailId;
                            var ActivityType = data[0].ecActivityTypeId;
                            var IndustryType = data[0].industryTypeId;
                            var ProjectName = data[0].projectName;
                            var Quantity = data[0].quantity;
                            var StartDate = data[0].startDate;
                            var ECRenewalId = data[0].ecRenewalId;
                            const c = new Date(StartDate);
                            const Sdate = c.getFullYear() + '-' + ("0" + (c.getMonth() + 1)).slice(-2) + '-' + ("0" + c.getDate()).slice(-2)

                            var EndDate = data[0].endDate;
                            const e = new Date(EndDate);
                            const Edate = e.getFullYear() + '-' + ("0" + (e.getMonth() + 1)).slice(-2) + '-' + ("0" + e.getDate()).slice(-2)

                            if (ActivityType > 0) {
                                $('select#UActivityTypeId').val(ActivityType).change();
                            }
                            else {
                                $('select#UActivityTypeId').val(ActivityType).change(0);
                            }
                            if (IndustryType > 0) {
                                $('select#UIndustryTypeId').val(IndustryType).change();
                            }
                            else {
                                $('select#UIndustryTypeId').val(IndustryType).change(0);
                            }

                            $('#hdnECDetailId').val(ECDetailId);
                            $('#UProjectName').val(ProjectName);
                            $('#UStartDate').val(Sdate);
                            $('#UEndDate').val(Edate);
                            $('#UQuantity').val(Quantity);
                            $('#UECRenewalId').val(ECRenewalId);
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
                }

//*********************************************************************UPDATE EC DETAILS******************************************************************************

    function UpdateECDetail() {
        $('#ViewECDemand').hide(1000);
             if ($('#UActivityTypeId option:selected').val() == 0) {
                 $('#UActivityTypeEr').html('Please Select a value');
                 $('#UActivityTypeId').focus();
                 return false;
             }
             else {
                 $('#UActivityTypeEr').html('');
             }

             if ($('#UIndustryTypeId option:selected').val() == 0) {
                 $('#UIndustryTypeEr').html('Please Select a value');
                 $('#UIndustryTypeId').focus();
                 return false;
             }
             else {
                 $('#UIndustryTypeEr').html('');
             }

                    var myarray = [];
             var ECDetailModel = {};
             if ($("#UActivityTypeId").val() == 6) {
                 ECDetailModel.Quantity = parseFloat($("#UQuantity").val());
             }
             else {
                 ECDetailModel.Quantity = 0;
             }
                    ECDetailModel.EcDetailId = parseInt($('#hdnECDetailId').val());
                    ECDetailModel.ProjectName = $('#UProjectName').val();
                    ECDetailModel.EcActivityTypeId = parseInt($('#UActivityTypeId').val());
                    ECDetailModel.IndustryTypeId = parseInt($('#UIndustryTypeId').val());
                    ECDetailModel.StartDate = $('#UStartDate').val();
                    ECDetailModel.EndDate = $('#UEndDate').val();
                    ECDetailModel.EcRenewalId = parseInt($('#UECRenewalId').val());
                    myarray.push(ECDetailModel);

                    var json_data = JSON.stringify(myarray);
                console.log(json_data);
                $('#img').hide();

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateECDetail", "ECdetails")',
            data: json_data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response > 0) {
                    ViewECDetails($('#hdnApplicant').val());
                    swal('EC Detail Updated Successfully!');
                    $('#CreateNewEC').hide(1000);
                    $('#UpdateEC').hide(1000);

                }
                else {
                    swal('EC Detail Updating Failed!');
                    $('#img').hide();
                    return false;
                }
            },
            failure: function (response) {
                $('#img').hide();
                swal("Creation Failed");
            },
            error: function (response) {
                $('#img').hide();
                swal("Error while inserting");
            }
        });
    }

    //*********************************************************************UPDATE EC DETAILS******************************************************************************

    function DetailView(ecDetailId) {
        $('#ViewECDemand').hide(1000);
        $('#UpdateApprovalStatus').hide(1000);
        $('#UpdateProjectStatus').hide(1000);
        $('#CreateNewEC').hide(1000);
        $('#UpdateEC').hide(1000);

                $.ajax({
             type: "GET",
                url: '@Url.Action("GetECDetailView", "ECdetails")',
                    data: {
                        ECDetailId: ecDetailId
                    },
                    success: function (data) {

                        if (data.length > 0) {
                            $('#Details').show(1000);
                            var ApplicationName = data[0].applicantName;
                            var ProjectName = data[0].projectName;
                            var ApprovalStatus = data[0].approvalStatusName;
                            var Address = data[0].address;
                            var IndustryType = data[0].industryTypeName;
                            var ApproveOn = data[0].approvalOn;
                            var CID = data[0].cid;
                            var LicenceNo = data[0].licenceNo;
                            var ActivityType = data[0].activityType;
                            var ProjectStatus = data[0].projectStatusName;
                            var ContactNo = data[0].contactNo;
                            var Quantity = data[0].quantity;
                            var ProjectCloseDate = data[0].projectCloseDate;
                            var FaxNo = data[0].faxNo;
                            var StartDate = data[0].startDate;
                            var ApprovalRemarks = data[0].approvalRemarks;
                            var Remarks = data[0].remarks;
                            var EndDate = data[0].endDate;
                            var ProjectCloseRemarks = data[0].projectCloseRemarks;
                            var InitialAmount = data[0].initialAmount;

                            if (ApproveOn == null) {
                                $('#IDApprovedOn').html('-');
                            }
                            else {
                                const e = new Date(ApproveOn);
                                const AO = e.getFullYear() + '-' + ("0" + (e.getMonth() + 1)).slice(-2) + '-' + ("0" + e.getDate()).slice(-2)
                                $('#IDApprovedOn').html(AO);
                            }
                            if (ProjectCloseDate == null) {
                                $('#IDProjectClosedOn').html('-');
                            }
                            else {
                                const e = new Date(ProjectCloseDate);
                                const PCD = e.getFullYear() + '-' + ("0" + (e.getMonth() + 1)).slice(-2) + '-' + ("0" + e.getDate()).slice(-2)
                                $('#IDProjectClosedOn').html(PCD);
                            }
                            const e = new Date(StartDate);
                            const SD = e.getFullYear() + '-' + ("0" + (e.getMonth() + 1)).slice(-2) + '-' + ("0" + e.getDate()).slice(-2)
                            $('#IDStartDate').html(SD);

                            const s = new Date(EndDate);
                            const ED = s.getFullYear() + '-' + ("0" + (s.getMonth() + 1)).slice(-2) + '-' + ("0" + s.getDate()).slice(-2)
                            $('#IDEndDate').html(ED);
                            $('#IDApplicantName').html(ApplicationName);
                            $('#IDProjectName').html(ProjectName);
                            $('#IDApprovalStatus').html(ApprovalStatus);
                            $('#IDApplicantAddress').html(Address);
                            $('#IDIndustryType').html(IndustryType);
                            $('#IDCID').html(CID);
                            $('#IDLicenceNo').html(LicenceNo);
                            $('#IDActivityType').html(ActivityType);
                            $('#IDProjectStatus').html(ProjectStatus);
                            $('#IDContactNo').html(ContactNo);
                            $('#IDQuantity').html(Quantity);
                            $('#IDFaxNo').html(FaxNo);
                            $('#IDApprovalRemarks').html(ApprovalRemarks);
                            $('#IDRemarks').html(Remarks);
                            $('#IDProjectCloseRemarks').html(ProjectCloseRemarks);
                            $('#IDInitialAmount').html(InitialAmount);

                        }
                    },
                    error: function () {
                        alert('error');
                    }
                });
    }

    function Close() {
        $('#Details').hide(1000);

    }

    $('#btnCancel').click(function () {
        $('#CreateNewEC').hide(1000);
    })
    $('#btnCancel1').click(function () {
        $('#UpdateApprovalStatus').hide(1000);
    })
    $('#btnCancel2').click(function () {
        $('#UpdateProjectStatus').hide(1000);
    })
    $('#btnUCancel3').click(function () {
        $('#UpdateEC').hide(1000);
    })


    function printPage() {
            var dataToPrint = document.getElementById("toprint");
            newWin = window.open("");
            newWin.document.write(dataToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

    function ok() {
        location.reload();

    }

    function GenerateEC(ecRenewalId, ecActivityTypeId, industryTypeId, applicantId, approvalStatusId, quantity, ecDetailId, EDate) {
        $('#ViewECDemand').hide(1000);

        if (approvalStatusId == 0 || approvalStatusId == 2) {
            swal('EC is not Approved!');
            return false;
        }
        var today = new Date();
        var date = ("0" + today.getDate()).slice(-2) + '/' + ("0" + (today.getMonth() + 1)).slice(-2) + '/' + today.getFullYear()
        const e = new Date(EDate);
        const eDate = ("0" + e.getDate()).slice(-2) + '/' + ("0" + (e.getMonth() + 1)).slice(-2) + '/' + e.getFullYear()

        if (eDate == date || eDate < date) {
            swal('EC Expired. Please Renew it!');
            return false;
        }
        $('#GECDetailId').val(ecRenewalId);
        $('#GActivityTypeId').val(ecActivityTypeId);
        $('#GIndustryTypeId').val(industryTypeId);
        $('#GApplicantId').val(applicantId);
        $('#GAQuantity').val(quantity);
        $('#GECRenewalId').val(ecDetailId);

        var myarray = [];
        var GenerateEC = {};

        GenerateEC.EcRenewalId = parseInt($('#GECDetailId').val());
        GenerateEC.EcActivityTypeId = parseInt($('#GActivityTypeId').val());
        GenerateEC.IndustryTypeId = parseInt($('#GIndustryTypeId').val());
        GenerateEC.ApplicantId = parseInt($('#GApplicantId').val());
        GenerateEC.Quantity = parseInt($('#GAQuantity').val());
        GenerateEC.EcDetailId = parseInt($('#GECRenewalId').val());

        myarray.push(GenerateEC);

        var json_data = JSON.stringify(myarray);
        console.log(json_data);
        $('#img').hide();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GenerateECDemand", "ECdetails")',
            data: json_data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response > 0) {
                    ViewECDetails($('#hdnApplicant').val());
                    swal('EC Generated Sucessfully!');
                    //displayLandOwnershipType($('#hdnLandDetailId').val());
                    //$('#UpdateOwnership').hide(1000);

                }
                else {
                    swal('EC Generation Failed!');
                    $('#img').hide();
                    return false;
                }
            },
            failure: function (response) {
                $('#img').hide();
                swal("Creation Failed");
            },
            error: function (response) {
                $('#img').hide();
                swal("Error while inserting");
            }
        });
        }

    function displayDemand(demandNoId) {
        $('#ViewECDemand').show(1000);


                $.ajax({
                type: "GET",
                url: '@Url.Action("GetECDemand", "ECdetails")',
                data: {
                    DemandNoId: demandNoId,
                },
                success: function (data) {
                console.log(data);
                    $('#tblECViewDemand').empty();
                    if (data.length > 0) {

                        var datec = data[0].demandDate;
                        const c = new Date(datec);
                        const CreatedDate = ("0" + c.getDate()).slice(-2) + "/" + ("0" + (c.getMonth() + 1)).slice(-2) + '/' + c.getFullYear()

                        var sdate = data[0].startDate;
                        const s = new Date(sdate);
                        const StartDate = ("0" + s.getDate()).slice(-2) + "/" + ("0" + (s.getMonth() + 1)).slice(-2) + '/' + s.getFullYear()

                        var edate = data[0].endDate;
                        const e = new Date(edate);
                        const EndDate = ("0" + e.getDate()).slice(-2) + "/" + ("0" + (e.getMonth() + 1)).slice(-2) + '/' + e.getFullYear()



                        $("#lblName").html(data[0].applicantName);
                        $("#lblCID").html(data[0].cid);
                        $("#lblActivityType").html(data[0].activityType);
                        $("#lblLicenseNo").html(data[0].licenceNo);
                        $("#lblAddress").html(data[0].address);
                        $("#lblDemandDate").html(CreatedDate);
                        $("#lblDemandNo").html(data[0].demandNo);
                        $("#lblSDate").html(StartDate);
                        $("#lblEDate").html(EndDate);
                        $("#lblNtamount").html(data[0].totalAmount);

                        $('#qrDemandNo').attr('src', `data:image/png;base64,${data[0].qrImage}`);


                        $.each(data, function (key, value) {
                            $('#tblECViewDemand').append(
                                '<tr>' + '<td>' + (key + 1) + '</td>'
                                + '<td>' + value.taxName + '</td>'
                                + '<td>' + value.demandAmount+ '</td>'
                                + '</td>'
                                + '</tr>');
                        });
                        $('#img').hide();
                        $('html,body').animate({
                            scrollTop: $("#ViewECDemand").offset().top
                        }, 'slow');

                    }
                    else {
                        $('#img').hide();
                        $("#ViewECDemand").show(1000);
                        $('#tblDemand').append(
                            '<tr><td colspan="8" style="color: red;">No record found!</td></tr>');
                    }

                },
                    error: function () {
                    $('#img').hide();
                    alert('Error occured');
                    }
                });


            $.ajax({
             type: "GET",
                url: '@Url.Action("GetUserName", "ECdetails")',
                    data: {
                        DemandNoId: demandNoId,
                },
                    success: function (data) {
                        if (data.length > 0) {

                            $("#lblUser").html(data[0].userName);
                        }
                    },

                });

        }
</script>
