@model List<CORE_BOL.ComplainDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" method="get">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index">Revenue Master</a></li>
                        <li class="breadcrumb-item active">Complain Details</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <div class="card card-info">
        @if (TempData["msg"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-check"></i> Alert!</h5>
                <p>@TempData["msg"]</p>
            </div>
        }

        <div class="card-header">
            <h3 class="card-title">Complain Details</h3>
        </div>
        @* SEARCH WATER CONNECTION *@

        <div class="card-body">
            <div class="row">
                <div class="input-group d-flex justify-content-center col-5">
                    <label class="col-sm-4 col-form-label">Consumer No: <span style="font-weight: bold; color: red;"></span></label>
                    <input id="ConsumerNoSearch" class="form-control col-6" style="text-transform:uppercase" />
                </div>
               
                    <div class="input-group-append col-3">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Search" class="btn btn-primary" onclick="return DisplayWaterConnection();" />
                    @*</div>*@
                </div>
                @*<input type="hidden" id="TaxPayerId" />*@
            </div>
        </div>
    </div>
</form>

@* DISPLAY WATER CONNECTION DETAILS *@

<div class="card card-info" style="display:none;" id="waterconnectiondetails">
    <div class="card-header">
        <h3 class="card-title">Water Connection Details</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead style="background-color:mediumaquamarine">

                <tr>
                    <th>#</th>
                    <th>Plot No</th>
                    <th>Zone</th>
                    <th>Consumer No</th>
                    <th>Water Meter No</th>
                    <th>Name</th>
                    <th>Billing Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tbl_waterconnection">
            </tbody>
        </table>
    </div>
</div>

<div class="card card-info" style="display:none;" id="CreateComplain">
    <input type="hidden" id="hdnWaterConnectionId"/>
    <div class="card-header">
        <h3 class="card-title">Create Complain Details</h3>
    </div>
    <div class="card-body">
        
        <div class="form-group row">

            <label class="col-sm-2 col-form-label">Complain Type<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <select id="ComplainType" class="form-control select2bs4" style="width: 100%;" asp-items="@(new SelectList (@ViewBag.ComplainType,"Value","Text")) " value="0">
                </select>
                <span id="errorComplainTypeId" class="text-danger"></span>
            </div>
            <label class="col-sm-2 col-form-label">Dead Line<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <input id="DeadLine" type="date" class="form-control" placeholder="Dead Line" required />
                <span id="DeadLineEr" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Instruction<span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <textarea class="form-control" id="Instruction" placeholder="Enter Instruction" rows="3" required></textarea>
            </div>            
        </div>
        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary" onclick="return SaveComplainDetail();">Save</button>
                    <button type="reset" id="btnCancel" class="btn btn-warning">Cancel</button>
                </div>
            </div>
        </div>
    </div>

<div class="card card-info" style="display:none;" id="complaindetails">
    <div class="card-header">
        <h3 class="card-title">Complain Details</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead style="background-color:mediumaquamarine">

                <tr>
                    <th>#</th>
                    <th>Complain Type</th>
                    <th>Complain Status</th>
                    <th>Instruction</th>
                    <th>DeadLine</th>
                </tr>
            </thead>
            <tbody id="tbl_complaindetails">
            </tbody>
        </table>
    </div>
</div>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>

//*************************************************************      LAND OWNERSHIP DETAILS      ********************************************************************************************

    function DisplayWaterConnection() {
        $('#CreateComplain').hide(1000);
        $('#complaindetails').hide(1000);
        if ($('#ConsumerNoSearch').val() == "") {
                swal('Empty Fields!', '', 'error');
            $('#ConsumerNoSearch').focus();
                return false;
                }

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetWaterConnection", "Complains")',
                    data: {
                        ConsumerNo: $('#ConsumerNoSearch').val()
                    },
                    success: function (data) {
                        $('#tbl_waterconnection').empty();
                        if (data.length > 0) {
                            $.each(data, function (key, value) {
                                $('#waterconnectiondetails').show();
                                $('#tbl_waterconnection').append(
                                    '<tr>'
                                    + '<td>' + (key + 1) + '</td>'
                                    + '<td>' + value.plotNo + '</td>'
                                    + '<td>' + value.zoneName + '</td>'
                                    + '<td>' + value.consumerNo + '</td>'
                                    + '<td>' + value.waterMeterNo + '</td>'
                                    + '<td>' + value.taxPayerName + '</td>'
                                    + '<td>' + value.billingAddress + '</td>'
                                    + '<td>'
                                    + '<a style = "color: #007bff; cursor: pointer;" onclick = "return CreateComplainDetail(' + value.waterConnectionId + ' )" title = "CreateComplainDetail">Select</a >'
                                    + '</td>'
                                    + '</tr>');

                            });

                        } else {
                            $('#waterconnectiondetails').show(1000);
                            $('#tbl_waterconnection').append(
                                '<tr><td colspan="8" style="color: red;">No record found!</td></tr>');
                        }

                    },

                    error: function () {
                        alert('error');
                    }

                });
        }

    //****************************************************     SAVE COMPLAIN DETAILS     ******************************************************************************
    function CreateComplainDetail(waterConnectionId) {
        $('#ComplainType').val(0).trigger('change')
        $('#Instruction').val('');
        $('#DeadLine').val('');
        $('#CreateComplain').show(1000);
        $('#complaindetails').hide(1000);
        $('#hdnWaterConnectionId').val(waterConnectionId);
    }

    function SaveComplainDetail() {

        if ($('#ComplainType option:selected').val() == 0) {
            $('#errorComplainTypeId').html('Please Select a value');
            $('#ComplainType').focus();
            return false;
        }
        else {
            $('#errorComplainTypeId').html('');
        }

        var myarray = [];
        var ComplainDetail = {};

        ComplainDetail.WaterConnectionId = parseInt($("#hdnWaterConnectionId").val());
        ComplainDetail.ComplainTypeId = parseInt($("#ComplainType").val());
        ComplainDetail.Instruction = $("#Instruction").val();
        ComplainDetail.DeadLine = $("#DeadLine").val();

        myarray.push(ComplainDetail);

        var json_data = JSON.stringify(myarray);
        console.log(json_data);
        $('#img').hide();

        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateComplainDetail", "Complains")',
            data: json_data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response > 0) {
                    swal('Complain Detail Saved Successfully!');
                    $('#CreateComplain').hide(1000);
                    $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetComplainDetail", "Complains")',
                    data: {
                        ComplainDetailId: response
                    },
                    success: function (data) {
                        $('#tbl_complaindetails').empty();
                        if (data.length > 0) {
                            $.each(data, function (key, value) {
                                $('#complaindetails').show();
                                $('#tbl_complaindetails').append(
                                    '<tr>'
                                    + '<td>' + (key + 1) + '</td>'
                                    + '<td>' + value.complainType + '</td>'
                                    + '<td>' + value.complainStatus + '</td>'
                                    + '<td>' + value.instruction + '</td>'
                                    + '<td>' + value.deadLine + '</td>'
                                    + '<td>'
                                    + '</td>'
                                    + '</tr>');

                            });

                        } else {
                            $('#complaindetails').show(1000);
                            $('#tbl_complaindetails').append(
                                '<tr><td colspan="5" style="color: red;">No record found!</td></tr>');
                        }

                    },

                    error: function () {
                        alert('error');
                    }

                });

                }
                else {
                    swal('Complain Detail Saving Failed!');
                    $('#img').hide();
                    return false;
                }
            },
            failure: function (response) {
                $('#img').hide();
                swal("Creation Failed");
            },
            error: function (response) {
                $('#img').hide();
                swal("Error while inserting");
            }
        });

    }
</script>
