@{
    ViewData["Title"] = "WaterTransactionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" method="get">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="ZoneWiseWaterCollection">Report</a></li>
                        <li class="breadcrumb-item active">Water Transaction Report</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <div class="card card-info">
        @if (TempData["msg"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-check"></i> Alert!</h5>
                <p>@TempData["msg"]</p>
            </div>
        }

        <div class="card-header">
            <h3 class="card-title">Water Transaction Report</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <hr />

            <div class="form-group row">
                <div class="input-group d-flex justify-content-center col-5">
                    <label class="col-sm-4 col-form-label">Consumer No</label>
                    <input id="idconsumerNo" class="form-control col-6" />
                </div>
                <div class="input-group d-flex justify-content-center col-5">
                    <label class="col-sm-4 col-form-label">Meter No</label>
                    <input id="idmeterNo" class="form-control col-6" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Transaction Type</label>
                <div class="col-sm-3">
                    <select class="form-control" id="idTransactionType" asp-items="@(new SelectList (@ViewBag.TransactionTypeId,"Value","Text"))">
                    </select>
                </div>
                <div class="input-group-append col-4">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="Search" class="btn btn-primary" onclick="return PrintReport();" />
                </div>
            </div>

        </div>
    </div>

</form>


<script>

       function PrintReport() {

           
           var consumerNo = $('#idconsumerNo').val();
           var meterNo = $('#idmeterNo').val();
           var transactionType = $('#idTransactionType').val();
           
               $.ajax({
                   type: "GET",
                   url: '@Url.Action("Printwtr", "Report")',
                   data: {
                       consumerNo: consumerNo,
                       waterMeterNo: meterNo,
                       transactionTypeId: transactionType,
                       
                   },
                   success: function (data) {
                       if (data.length > 0) {
                           window.open("@Url.RouteUrl(new
                                 { Area ="Reports",Controller = "Report", Action = "Printwtr" })/?transactionTypeId=" + transactionType
                               + "&consumerNo=" + consumerNo + "&waterMeterNo=" + meterNo
                               , '_blank');

                       }
                       console.log(ZoneId);

                       $('#img').hide();

                   },
                   error: function () {
                       alert('error');
                       $('#img').hide();
                   }

               });


   }


</script>
