@using CORE_BOL
@model UserProfileVM
@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var rid = Model.RoleId;
    //var sid = Model.SectionId;
}
@*<input type="hidden" value="@rid" id="hdnRoleId" />
<input type ="hidden" value="@sid" id="hdnSectionId" />*@
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index"> Account</a></li>
                    <li class="breadcrumb-item active">User Details </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card card-info">
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-check"></i> Alert!</h5>
            <p>@TempData["msg"]</p>
        </div>
    }
</div>
<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">User Details</h3>
    </div>
    <div class="card-body" id="Searchbox">
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm-3">
                <input class="form-control" id="EmailInput" />
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary col-12" onclick="return SearchUser();">Search</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary col-12" onclick="return SearchAll();">Search All</button>
            </div>
        </div>
    </div>
</div>
<div class="card card-info" id="displayuserdetails" style="display:none;">
    <div class="card-header">
        <h3 class="card-title">User Details</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <table class="table table-bordered table-striped">
                <thead style="background-color:mediumaquamarine">
                    <tr>
                        <th>Name</th>
                        <th>CID</th>
                        <th>EID</th>
                        <th>Role</th>
                        <th>Section</th>
                        <th>Email</th>
                        <th>DOB</th>
                        <th>Phone No</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbluserdetails">
                </tbody>
            </table>

        </div>

    </div>
</div>

<div class="card card-info" id="displayallusers" style="display:none;">
    <div class="card-header">
        <h3 class="card-title">User Details</h3>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <table class="table table-bordered table-striped">
                <thead style="background-color:mediumaquamarine">
                    <tr>
                        <th>Name</th>
                        <th>CID</th>
                        <th>EID</th>
                        <th>User Name</th>
                        <th>Role</th>
                        <th>Section</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tblalluserdetails">
                </tbody>
            </table>

        </div>

    </div>

</div>

<div class="card card-info" id="dispayupdateform" style="display:none;">
    <div class="card-header">
        <h3 class="card-title">Update Details</h3>
        <input type="hidden" id="hdnEmail" />
        <input type="hidden" id="hdnId" />
        <input type="hidden" id="userid" />


    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">First Name <span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <input id="idsfirstname" class="form-control input-group-lg reg_name span2" required />
            </div>
            <label class="col-sm-1 col-form-label">Middle Name</label>
            <div class="col-sm-3">
                <input class="form-control input-group-lg reg_name span2" id="idsmiddlename" />
            </div>
            <label class="col-sm-1 col-form-label">Last Name <span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <input class="form-control input-group-lg reg_name span2" id="idslastname" required />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">CID <span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <input class="form-control" id="idscid" type="text" />
            </div>
            <label class="col-sm-1 col-form-label"> EID <span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <input class="form-control" id="idseid" required/>
            </div>
            <label class="col-sm-1 col-form-label"> Email <span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <input class="form-control" id="idsemail" name="emailcheck" @*oninput="return CheckEmail();"*@ required />

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">DOB <span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <input class="form-control" id="idddob" type="date" required />
            </div>
            <label class="col-sm-1 col-form-label">Phone No </label>
            <div class="col-sm-3">
                <input class="form-control" id="idiphoneno" required/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Role <span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <select id="idiroleid" class="form-control select2bs4" style="width: 100%;"
                        asp-items="@(new SelectList (@ViewBag.Role,"Value","Text"))">
                </select>

            </div>
            <label class="col-sm-1 col-form-label">Section <span style="font-weight: bold; color: red;">*</span></label>
            <div class="col-sm-3">
                <select id="idisectionid" class="form-control select2bs4" style="width: 100%;"
                        asp-items="@(new SelectList (@ViewBag.Section,"Value","Text")) ">
                    <option>--Select One--</option>
                </select>
            </div>
           

        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" id="UpdateDetails" @*onclick="return CheckEmail();"*@>Save</button>
                <button type="button" class="btn btn-primary" id="Deactivate" @*onclick="return CheckEmail();"*@>Deactivate</button>
                <button type="button" class="btn btn-primary" id="Activate" @*onclick="return CheckEmail();"*@>Activate</button>
                <button type="reset" id="btnCancel" class="btn btn-warning">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    //$(function () {
    //    ClearInput();

    //});
    function SearchUser() {
        if ($('#EmailInput').val() == "") {
            swal('Invalid Search', '', 'error');
            $('#EmailInput').focus();
            return false;
        }


        var Email = $('#EmailInput').val();


                $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetUserDetails", "Users")',
                    data: {
                        email: Email,
                        },
                        dataType: "json",
                    success: function (data) {
                        $('#tbluserdetails').empty();
                        if (data.length > 0) {
                                $.each(data, function (key, value) {
                            var dob = data[0].dob;
                            const c = new Date(dob);
                                    const dobd = ("0" + c.getDate()).slice(-2) + '-' + ("0" + (c.getMonth() + 1)).slice(-2) + '-' + c.getFullYear()
                                    $('#displayuserdetails').show(1000);

                                    $('#tbluserdetails').append(
                                        '<tr>'
                                        + '<td>'  + value.firstName + " " + value.middleName + " " + value.lastName + '</td>'
                                        + '<td>' + value.cid + '</td>'
                                        + '<td>' + value.eid + '</td>'
                                        + '<td>' + value.roleName + '</td>'
                                        + '<td>' + value.sectionName + '</td>'
                                        + '<td>' + value.email + '</td>'
                                        + '<td>' + dobd + '</td>'
                                        + '<td>' + value.phoneNo + '</td>'
                                        + '<td><b><a style="cursor: pointer; color: forestgreen;" title="Select" onclick="return displayUserInfo(' + value.userId +');">Edit</a></b></td>'

                                        + '</tr>');
                                    $('#hdnId').val(data[0].userId);
                                    //$('#idiroleid').html(data[0].roleId);


                                });
                            } else {
                                $('#tbluserdetails').append(
                                    '<tr><td colspan="7" style="color: red;">No record found!</td></tr>');
                                swal({
                                    title: 'No data found!',
                                    type: 'error',
                                    confirmButtonText: 'OK'
                                });
                            }

                        },

                        error: function () {
                            alert('error');
                        }
                });

            }

    //Deactivate
    $("#Deactivate").click(function () {

            //if ($('#hdnEmail').val() == $('#idsemail').val() && $('#hdnId').val() != $('#userid').val()) {
            //    swal("Duplicate Email");
            //    return false;
            //}

                var myarray = [];
                var UserProfileVM = {};

                UserProfileVM.FirstName = $("#idsfirstname").val();
                UserProfileVM.MiddleName = $("#idsmiddlename").val();
                UserProfileVM.LastName = $("#idslastname").val();
                UserProfileVM.Cid = $("#idscid").val();
                UserProfileVM.Eid = $("#idseid").val();
                UserProfileVM.Email = $("#idsemail").val();
                UserProfileVM.Password = $("#password").val();
                //UserProfileVM.UserName = $("#idsemail").val();
                UserProfileVM.PhoneNo = $("#idiphoneno").val();
                UserProfileVM.Dob = $("#idddob").val();
                UserProfileVM.UserId = parseInt($("#hdnId").val());
                UserProfileVM.RoleId = parseInt($("#idiroleid").val());
                UserProfileVM.SectionId = parseInt($("#idisectionid").val());

                myarray.push(UserProfileVM);

                var json_data = JSON.stringify(myarray);
                console.log(json_data);


                $('#img').show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Deactivate", "Users")',
                    data: json_data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (response) {

                        //if (response > 0) {
                        $('#dispayupdateform').hide(1000);
                        swal('Deactivated User account');
                        //$('#displayuserdetails').load('#displayuserdetails');
                        $('#img').hide();
                        $('#displayuserdetails').show(1000);
                        setTimeout(request(), 1000);
                        //ClearInput();

                    },

                    failure: function (response) {
                        $('#img').hide();
                        swal("Creation Failed");
                    },
                    error: function (response) {
                        $('#img').hide();
                        $('#dispayupdateform').show();
                        swal("Duplicate Email Found!");                    }

                });

        })


     //activate
    $("#Activate").click(function () {

            //if ($('#hdnEmail').val() == $('#idsemail').val() && $('#hdnId').val() != $('#userid').val()) {
            //    swal("Duplicate Email");
            //    return false;
            //}

                var myarray = [];
                var UserProfileVM = {};

                UserProfileVM.FirstName = $("#idsfirstname").val();
                UserProfileVM.MiddleName = $("#idsmiddlename").val();
                UserProfileVM.LastName = $("#idslastname").val();
                UserProfileVM.Cid = $("#idscid").val();
                UserProfileVM.Eid = $("#idseid").val();
                UserProfileVM.Email = $("#idsemail").val();
                UserProfileVM.Password = $("#password").val();
                //UserProfileVM.UserName = $("#idsemail").val();
                UserProfileVM.PhoneNo = $("#idiphoneno").val();
                UserProfileVM.Dob = $("#idddob").val();
                UserProfileVM.UserId = parseInt($("#hdnId").val());
                UserProfileVM.RoleId = parseInt($("#idiroleid").val());
                UserProfileVM.SectionId = parseInt($("#idisectionid").val());

                myarray.push(UserProfileVM);

                var json_data = JSON.stringify(myarray);
                console.log(json_data);


                $('#img').show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Activate", "Users")',
                    data: json_data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (response) {

                        //if (response > 0) {
                        $('#dispayupdateform').hide(1000);
                        swal('Activated User account');
                        //$('#displayuserdetails').load('#displayuserdetails');
                        $('#img').hide();
                        $('#displayuserdetails').show(1000);
                        setTimeout(request(), 1000);
                        //ClearInput();

                    },

                    failure: function (response) {
                        $('#img').hide();
                        swal("Creation Failed");
                    },
                    error: function (response) {
                        $('#img').hide();
                        $('#dispayupdateform').show();
                        swal("Duplicate Email Found!");                    }

                });

        })

    //Update User Details
        $("#UpdateDetails").click(function () {

            //if ($('#hdnEmail').val() == $('#idsemail').val() && $('#hdnId').val() != $('#userid').val()) {
            //    swal("Duplicate Email");
            //    return false;
            //}

                var myarray = [];
                var UserProfileVM = {};

                UserProfileVM.FirstName = $("#idsfirstname").val();
                UserProfileVM.MiddleName = $("#idsmiddlename").val();
                UserProfileVM.LastName = $("#idslastname").val();
                UserProfileVM.Cid = $("#idscid").val();
                UserProfileVM.Eid = $("#idseid").val();
                UserProfileVM.Email = $("#idsemail").val();
            UserProfileVM.Password = $("#password").val();
                //UserProfileVM.UserName = $("#idsemail").val();
                UserProfileVM.PhoneNo = $("#idiphoneno").val();
                UserProfileVM.Dob = $("#idddob").val();
                UserProfileVM.UserId = parseInt($("#hdnId").val());
                UserProfileVM.RoleId = parseInt($("#idiroleid").val());
                UserProfileVM.SectionId = parseInt($("#idisectionid").val());

                myarray.push(UserProfileVM);

                var json_data = JSON.stringify(myarray);
                console.log(json_data);


                $('#img').show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateUserInfoByAdmin", "Users")',
                    data: json_data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (response) {

                        //if (response > 0) {
                        $('#dispayupdateform').hide(1000);
                        swal('Record Updated');
                        //$('#displayuserdetails').load('#displayuserdetails');
                        $('#img').hide();
                        $('#displayuserdetails').show(1000);
                        setTimeout(request(), 1000);
                        //ClearInput();

                    },

                    failure: function (response) {
                        $('#img').hide();
                        swal("Creation Failed");
                    },
                    error: function (response) {
                        $('#img').hide();
                        $('#dispayupdateform').show();
                        swal("Duplicate Email Found!");                    }

                });

        })


        $('#btnCancel').click(function () {
            $('#dispayupdateform').hide(1000);
        })

        //Get Emails
    function displayUserInfo(userId ) {
                $('#dispayupdateform').show(1000);
                $.ajax({
             type: "GET",
                url: '@Url.Action("GetDetails", "Users")',
                    data: {
                        UserId: userId
                },
                    success: function (data) {
                        if (data.length > 0) {
                            var firstname = data[0].firstName;
                            var middlename = data[0].middleName;
                            var lastname = data[0].lastName;
                            var email = data[0].email;
                            var cid = data[0].cid;
                            var eid = data[0].eid;
                            var dob = data[0].dob;
                            const c = new Date(dob);
                            const DOB = c.getFullYear() + '-' + ("0" + (c.getMonth() + 1)).slice(-2) + '-' + ("0" + c.getDate()).slice(-2)
                            var phoneno = data[0].phoneNo;
                            var section = data[0].sectionId;
                            var roleid = data[0].roleId;
                            //var role = data[0].roleName;

                            //$("#idiroleid").append($("<option></option>").val(role).html(role));
                            $("#idiroleid").append($("option:selected").val(roleid));
                            //$("#idiroleid option:selected").val(role);

                            $('#idsfirstname').val(firstname);
                            $('#idsmiddlename').val(middlename);
                            $('#idslastname').val(lastname);
                            $('#idscid').val(cid);
                            $('#idseid').val(eid);
                            $('#idddob').val(DOB);
                            $('#idsemail').val(email);
                            $('#idiphoneno').val(phoneno);
                            //$('#idiroleid').data[0].roleName;
                            //$("#idiroleid option: selected").val(role);
                            $('#idiroleid').val(roleid);
                            //$('#idiroleid').val(role);
                            $('#idisectionid').val(section);
                        }
                    },


                    error: function () {
                        alert('error');
                    }

                });


                $.ajax({
             type: "GET",
                url: '@Url.Action("GetEmails", "Users")',
                    data: {
                        email: $('#idsemail').val()
                },
                    success: function (data) {
                        if (data.length > 0) {

                            var email = data[0].email;
                            var userId = data[0].userId;
                            $('#hdnEmail').val(email);
                            $('#userid').val(userId);
                        }
                    },

                });
        }


    function ClearInput() {
        $('#EmailInput').val() = '';
        $('#img').hide();



    }

    //DISPLAY ALL USERS
    function SearchAll() {

                $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetAllUserDetails", "Users")',
                    data: {
                        },
                        dataType: "json",
                    success: function (data) {
                        $('#tblalluserdetails').empty();
                        if (data.length > 0) {
                                $.each(data, function (key, value) {
                                    $('#displayallusers').show(1000);

                                    $('#tblalluserdetails').append(
                                        '<tr>'
                                        + '<td>' + value.firstName + " " + value.middleName + " " + value.lastName + '</td>'
                                        + '<td>' + value.cid + '</td>'
                                        + '<td>' + value.eid + '</td>'
                                        + '<td>' + value.userName + '</td>'
                                        + '<td>' + value.roleName + '</td>'
                                        + '<td>' + value.sectionName + '</td>'
                                        + '<td>'
                                        + '<a style = "color: #007bff; cursor: pointer;" onclick = "return edit(' + value.userId + ' )" title = "EDIT" > <i class="fas fa-edit"></i></a >'
                                        + '</td>'
                                        + '</tr>');
                                    $('#hdnId').val(data[0].userId);
                                    //$('#idiroleid').html(data[0].roleId);


                                });
                            } else {
                            $('#tblalluserdetails').append(
                                    '<tr><td colspan="7" style="color: red;">No record found!</td></tr>');

                            }

                        },

                        error: function () {
                            alert('error');
                        }
                });

    }

    function edit(id) {
        var url = "/Account/Users/Edit?id=" + id;
        window.location.href = url;
    }

</script>
