@model CORE_BOL.Entities.TblParkingfeeDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblParkingfeeDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallmentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallmentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminateReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminateReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingSchedule.BillingSchedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingZone.ParkingzoneDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxPayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxPayer.Cid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ParkingFeeDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
