@using CORE_BOL
@model AssetStatusModel
@*@model IEnumerable<CORE_BOL.Entities.TblMstUser>*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Asset Status</a></li>
                    <li class="breadcrumb-item active">Asset Status Details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<div class="card card-info">
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-check"></i> Alert!</h5>
            <p>@TempData["msg"]</p>
        </div>
    }

    <div class="card-header">
        <h3 class="card-title">Asset Status</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-outline-danger btn-lg" title="Add New"><b> <i class="fas fa-plus"></i>Add New</b> </a>
        </p><hr />
        <table id="example1" class="table table-bordered table-striped">
            <thead style="background-color:mediumaquamarine">
                <tr>
                    <th>Asset Status</th>
                    <th>Status Description</th>
                    <th>IsActive</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AssetStatusVM)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                    <td style="text-align:center;">
                        <a asp-action="Edit" asp-route-id="@item.AssetStatusId" title="EDIT"><i class="fas fa-edit"></i></a>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script src="~/plugins/jquery/jquery.min.js"></script>

<script>

    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });


</script>

