@model CORE_BOL.Entities.TblAssetDepreciation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblAssetDepreciation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepreciationValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepreciationValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asset.AssetCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepreciationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepreciationType.DepreciationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinancialYear.FinancialYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepreciationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
